@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hbusyn');
  src:  url('fonts/icomoon.eot?hbusyn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hbusyn') format('truetype'),
    url('fonts/icomoon.woff?hbusyn') format('woff'),
    url('fonts/icomoon.svg?hbusyn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-address-book:before 	{ content: "\270f"; }
.icon-attachment:before 	{ content: "\e032"; }
.icon-away:before 		    { content: "\25fb"; }
.icon-blocked:before 		{ content: "\2718"; }
.icon-bold:before 		    { content: "\e04d"; }
.icon-bubbles2:before 		{ content: "\e016"; }
.icon-bubbles3:before 		{ content: "\e017"; }
.icon-bubbles:before 		{ content: "\e015"; }
.icon-busy:before 		    { content: "\e004"; }
.icon-cancel-circle:before 	{ content: "\e058"; }
.icon-checkmark:before 		{ content: "\2713"; }
.icon-close:before 		    { content: "\2715"; }
.icon-closed:before 		{ content: "\25ba"; }
.icon-cog:before 		    { content: "\e02f"; }
.icon-cogs:before 		    { content: "\e022"; }
.icon-conversejs:before 	{ content: "\e600"; }
.icon-database:before 		{ content: "\f1c0"; }
.icon-envelope:before 		{ content: "\f003"; }
.icon-exit:before 		    { content: "\e601"; }
.icon-eye-blocked:before 	{ content: "\e031"; }
.icon-eye:before 		    { content: "\e030"; }
.icon-github:before 		{ content: "\eab0"; }
.icon-globe:before 		    { content: "\f0ac"; }
.icon-google2:before 		{ content: "\ea89"; }
.icon-group:before 		    { content: "\f0c0"; }
.icon-happy:before 		    { content: "\263b"; }
.icon-heart2:before 		{ content: "\f004"; }
.icon-heart:before 		    { content: "\2764"; }
.icon-heart_empty:before 	{ content: "\f08a"; }
.icon-hide-users:before 	{ content: "\e01c"; }
.icon-home:before 		    { content: "\e000"; }
.icon-idcard-dark:before 	{ content: "\f2c2"; }
.icon-idcard:before 		{ content: "\f2c3"; }
.icon-image:before 		    { content: "\2b14"; }
.icon-info:before 		    { content: "\2360"; }
.icon-italic:before 		{ content: "\e04f"; }
.icon-key:before 		    { content: "\e028"; }
.icon-legal:before 		    { content: "\f0e3"; }
.icon-lock-2:before 		{ content: "\e027"; }
.icon-minus:before 		    { content: "\e05a"; }
.icon-music:before 		    { content: "\266b"; }
.icon-newtab:before 		{ content: "\e053"; }
.icon-notebook:before 		{ content: "\2710"; }
.icon-notification:before 	{ content: "\e01f"; }
.icon-offline:before 		{ content: "\e002"; }
.icon-online:before 		{ content: "\25fc"; }
.icon-opened:before 		{ content: "\25bc"; }
.icon-pencil:before 		{ content: "\270e"; }
.icon-phone-hang-up:before 	{ content: "\260e"; }
.icon-phone:before 		    { content: "\260f"; }
.icon-plus:before 		    { content: "\271a"; }
.icon-pushpin:before 		{ content: "\e012"; }
.icon-quotes-left:before 	{ content: "\e01d"; }
.icon-reddit:before 		{ content: "\eac6"; }
.icon-remove:before 		{ content: "\e02d"; }
.icon-room-info:before 		{ content: "\e059"; }
.icon-save:before 		    { content: "\f0c7"; }
.icon-search:before 		{ content: "\e021"; }
.icon-show-users:before 	{ content: "\e01e"; }
.icon-smiley:before 		{ content: "\263a"; }
.icon-snowflake:before 		{ content: "\f2dc"; }
.icon-spell-check:before 	{ content: "\e045"; }
.icon-spinner:before 		{ content: "\231b"; }
.icon-star:before 		    { content: "\f005"; }
.icon-star_empty:before 	{ content: "\f006"; }
.icon-strikethrough:before 	{ content: "\e050"; }
.icon-twitter:before 		{ content: "\ea96"; }
.icon-underline:before 		{ content: "\e04e"; }
.icon-unlocked:before 		{ content: "\e025"; }
.icon-user:before 		    { content: "\e01a"; }
.icon-users:before 		    { content: "\e01b"; }
.icon-warning:before 		{ content: "\26a0"; }
.icon-wrench:before 		{ content: "\e024"; }
.icon-xa:before 		    { content: "\e602"; }
.icon-zoomin:before 		{ content: "\e02b"; }
.icon-zoomout:before 		{ content: "\e02a"; }
