#conversejs {
    .chat-head-chatroom {
        background-color: $chatroom-head-color;

        .chatroom-topic {
            color: white;
            font-size: 80%;
            font-style: italic;
            height: 1.3em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 0;
            margin-top: 0.3em;
        }
    }

    .chatroom {
        width: $chatroom-width;
        @media screen and (max-height: $mobile-landscape-height){
            width: $mobile-chat-width;
        }
        @media screen and (max-width: $mobile-portrait-length) {
            width: $mobile-chat-width;
        }
        .box-flyout {
            min-width: $chatroom-width;
            width: $chatroom-width;
            @media screen and (max-height: $mobile-landscape-height) {
                height: $mobile-chat-height;
                width: $mobile-chat-width;
                height: 100vh;
            }
            @media screen and (max-width: $mobile-portrait-length) {
                height: $mobile-chat-height;
                width: $mobile-chat-width;
                height: 100vh;
            }
            .chatroom-body {
                height: 289px;
                @include border-bottom-radius($chatbox-border-radius);
                @include calc(height, '100% - #{$chat-head-height}');
                background-color: white;
                border-top: 0;
                width: 100%;

                .chat-area {
                    word-wrap: break-word; 
                    height: 100%;
                    max-width: 70%;
                    float: left;
                    min-width: $chat-width;
                    .chat-content {
                        // There's an annoying Chrome box-sizing bug which prevents us from adding 0.5em padding here.
                        padding: 0 0.5em 0 0.5em;
                    }
                    &.full {
                        max-width: 100%;
                    }
                }
                .mentioned {
                    font-weight: bold;
                }
                .chat-msg-room {
                    color: $message-them-color;
                }
                .occupants {
                    vertical-align: top;
                    background-color: white;
                    overflow: hidden;
                    border-left: 1px solid $text-color;
                    border-bottom-right-radius: $chatbox-border-radius;
                    min-width: 30%;
                    height: 100%;
                    &.hidden {
                        display: none;
                    }
                    .occupants-heading {
                        padding: 0.3em;
                        font-weight: bold;
                    }
                    .occupant-list {
                        height: 85%;
                        height: calc(100% - 70px);
                        overflow-x: hidden;
                        overflow-y: auto;
                        list-style: none;
                        li {
                            cursor: default;
                            display: block;
                            font-size: 12px;
                            overflow: hidden;
                            padding: 2px 5px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            width: 100px;
                            &.moderator {
                                color: $moderator-color;
                            }
                        }
                    }
                }
                .chatroom-form-container {
                    background-color: white;
                    border-bottom-left-radius: $chatbox-border-radius;
                    border-bottom-right-radius: $chatbox-border-radius;
                    border: 0;
                    color: $text-color;
                    font-size: $font-size;
                    height: 289px;
                    @include calc(height, '100% - #{$chat-head-height}');
                    overflow-y: auto;
                    position: absolute;
                }
            }
        }

        .chat-textarea {
            border-bottom-right-radius: 0;
        }

        .room-invite {
            margin: 0.3em;
            .invited-contact {
                margin: -1px 0 0 -1px;
                width: 100%;
                border: 1px solid #999;
                &.tt-input {
                    width: 100%;
                    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkBCjE0uzKkOgAAAidJREFUKM+N0k+IEnEUB/D3cyscdagkWpHV0WGWREXm0AgOGkSJ07kh2UXYU5cOewm6Bp0KXG/tpSCv6hyEFQIhMEaE3yERYfwTOoqKGLQxDAbqYadLgu7J7/XxeY/3ez8EACDLsgljfMfj8ZxUKhXXYDAAnueBoqgyAMipVOovXAuSZdnUaDQeDofDs16vFyUIAjRNUwmCoG02G1AUdZ5IJN7GYrHfm3AvEAjcnUwmX0ajUdRqtV74fL6sruufKYoa6bp+fzabPUMI7ZfL5eImNHk8npNerxc1m80XHMe98fv9H3K5XDkSibxjWfb1arWaYoyPMMbCFqxUKi6CIODw8LDmdDq7oigaAACiKK5omv7KcdylpmlIkiTHFlRVFTRNUxVFqa/ROqIoGoqi5A3DgFartfU4Jp7ngSAI2uVyPZIk6dZmUZKk2w6H4xghBPF4HK7vWLbZbDCdTp+rqvpUkiS0RvV6/bTf7x8wDHMViURqm/AGAMgURZ232+1X1Wr102KxuEwmk3lZlo/7/f7BcrkkSZKs2e12tHXH/x/gHsY4jTE+0jQNGYYBCCFgGOaKJMkfjUaDZximGQ6HXzSbzZ+ZTMbY6oIxFgqFgqPT6YAgCMBxXM1ut6N0Op0fj8chi8XyjWXZ98Fg8DuCHZLNZh+USqWP8/n8idvt/hUKhV7u7QK9Xu8fmqanAJBQVXUfAGY7TQQAKBaLN8fjsdDtdh/run72Dzhf7XLe2UevAAAAAElFTkSuQmCC ) no-repeat right 3px center;
                    &:focus {
                        border-color: $chatroom-head-color;
                    }
                }
                &.tt-hint {
                    color: transparent;
                    background-color: white;
                }
            }
            .tt-dropdown-menu {
                width: 96%;
                max-height: 250px;
                background: $chatroom-head-color;
                border-bottom-right-radius: $chatbox-border-radius;
                border-bottom-left-radius: $chatbox-border-radius;
                overflow-y: auto;
                .tt-suggestion {
                    p {
                        color: white;
                        cursor: pointer;
                        font-size: 11px;
                        text-overflow: ellipsis;
                        overflow-x: hidden;
                        &:hover {
                            background-color: $chatroom-color-light;
                        }
                    }
                    .tt-highlight {
                        background-color: $chatroom-color-dark;
                    }
                }
            }
        }
    }
}
