#conversejs.converse-embedded,
#conversejs {

    .badge-room-color {
        background-color: var(--chatroom-head-color);
    }

    .add-chatroom {
        input[type="submit"],
        input[type="button"] {
            margin: 0.3em 0;
        }
    }

    #list-chatrooms-modal {
        .modal-body {
			max-height: 70vh;
            padding-bottom: 0; // When the list of chats overflows, we don't want bottom padding
        }
        .available-chatrooms {
            overflow: auto;
            padding-bottom: 1rem;
        }
    }

    #room-details-modal {
        .features-list {
            margin-left: 1em;
        }
    }

    .chatroom-features {
        width: 100%;
        .features-list {
            padding-top: 0;
            .feature {
                width: 100%;
                margin-right: 0.5em;
                padding-right: 0;
                font-size: 1em;
                cursor: help;
                .fa {
                    margin-right: 0.5em;
                    color: var(--text-color);
                }
            }
        }
    }


    .chat-head-chatroom {
        background-color: var(--chatroom-head-color);
        border-bottom: var(--chatroom-head-border-bottom);

        .chatroom-description {
            color: var(--chatroom-head-description-color);
            display: var(--chatroom-head-description-display);
            font-size: var(--font-size);
            font-size: 70%;
            margin-top: 3px;
            overflow-y: hidden;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            border-left: var(--chatroom-head-description-border-left);
            padding-left: var(--chatroom-head-description-padding-left);
            a {
                color: var(--chatroom-head-description-link-color);
            }
        }

        a, a:visited, a:hover, a:not([href]):not([tabindex]) {
            &.chatbox-btn {
                &.fa {
                    color: var(--chat-head-text-color);
                    &.button-on:before {
                        color: var(--chatroom-head-button-color);
                    }
                }
            }
        }

        .chatbox-btn {
            &.button-on:before {
                color: var(--chatroom-head-button-color);
            }
        }
        .chat-title {
            display: var(--heading-display);
            font-weight: var(--chatroom-head-title-font-weight);
            padding-right: var(--chatroom-head-title-padding-right);
            .chatroom-jid {
                font-size: var(--font-size-small);
            }
        }
    }

    .chatroom {
        width: var(--chatroom-width);
        @media screen and (max-height: $mobile-landscape-height){
            width: var(--mobile-chat-width);
        }
        @media screen and (max-width: $mobile-portrait-length) {
            width: var(--mobile-chat-width);
        }

        .box-flyout {
            overflow-y: hidden;
            background-color: var(--chatroom-head-color);

            width: 100%;
            @media screen and (max-height: $mobile-landscape-height) {
                height: var(--mobile-chat-height);
                width: var(--mobile-chat-width);
                height: 100vh;
            }
            @media screen and (max-width: $mobile-portrait-length) {
                height: var(--mobile-chat-height);
                width: var(--mobile-chat-width);
                height: 100vh;
            }
            .chatroom-body {
                flex-direction: row;
                flex-flow: nowrap;
                border-bottom-radius: var(--chatbox-border-radius);
                background-color: white;
                border-top: 0;
                width: 100%;
                overflow: hidden;

                .row {
                    flex-direction: row;
                }
                .chat-topic {
                    display: var(--chat-topic-display);
                    font-weight: bold;
                    color: var(--chatroom-head-color);
                }
                .chat-info {
                    display: var(--chat-info-display);
                    color: var(--chatroom-head-color);
                    line-height: normal;
                    &.badge {
                        color: var(--chat-head-text-color);
                    }
                }
                .disconnect-container {
                    margin: 1em;
                    width: 100%;
                    h3.disconnect-msg {
                        padding-bottom: 1em;
                    }
                }
                .chat-area {
                    display: flex;
                    flex-direction: column;
                    word-wrap: break-word;
                    .new-msgs-indicator {
                        background-color: var(--chatroom-head-color);
                    }
                    .chat-content {
                        height: 100%;
                    }
                }
                .occupants {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    overflow-x: hidden;
                    overflow-y: hidden;
                    vertical-align: top;
                    background-color: var(--occupants-background-color);
                    border-left: var(--occupants-border-left);
                    border-bottom-right-radius: var(--chatbox-border-radius);
                    padding: 0.5em;
                    max-width: var(--occupants-max-width);

                    .occupants-header {
                        display: flex;
                        flex-direction: column;
                        .hide-occupants {
                            align-self: flex-end;
                            cursor: pointer;
                        }
                    }
                    .occupants-heading {
                        font-family: var(--heading-font);
                        margin-bottom: 0.5em;
                        padding-left: 0;
                    }
                    .chatroom-features {
                        display: var(--occupants-features-display);
                    }
                    .suggestion-box{
                        ul {
                            padding: 0;
                            li {
                                padding: 0.5em;
                            }
                        }
                    }
                    ul {
                        padding: 0;
                        margin-bottom: 0.5em;
                        overflow-x: hidden;
                        overflow-y: auto;
                        list-style: none;

                        &.occupant-list {
                            overflow-y: auto;
                            flex-basis: 0;
                            flex-grow: 1;
                            border-bottom: var(--occupants-border-bottom);
                        }
                        li {
                            cursor: default;
                            display: block;
                            font-size: var(--font-size-small);
                            overflow: hidden;
                            padding: 0.25em 0.25em 0.25em 0;
                            text-overflow: ellipsis;
                            .fa {
                                margin-right: 0.5em;
                            }
                            &.feature {
                                font-size: var(--font-size-tiny);
                            }
                            &.occupant {
                                cursor: pointer;

                                .occupant-nick-badge {
                                    display: flex;
                                    justify-content: space-between;
                                    flex-wrap: wrap;

                                    .occupant-badges {
                                        display: flex;
                                        justify-content: flex-end;
                                        flex-wrap: wrap;
                                        flex-direction: row;

                                        span {
                                            margin-right: 0.25rem;
                                        }
                                    }
                                }

                                div.row.no-gutters {
                                    flex-wrap: nowrap;
                                    min-height: 1.5em;
                                }
                                .badge {
                                    margin-bottom: 0.125rem;
                                }

                                .occupant-status {
                                    display: inline-block;
                                    margin: 0 0.5em 0.125em 0;
                                    width: 0.5em;
                                    height: 0.5em;

                                    &.occupant-online,
                                    &.occupant-chat {
                                        background-color: #1A9707;
                                    }
                                    &.occupant-dnd {
                                        background-color: red;
                                    }
                                    &.occupant-away {
                                        background-color: darkorange;
                                    }
                                    &.occupant-xa {
                                        background-color: orange;
                                    }
                                    &.occupant-offline {
                                        background-color: darkgrey;
                                    }
                                }
                            }
                        }
                    }
                }
                .chatroom-form-container {
                    background-color: white;
                    border-bottom-left-radius: var(--chatbox-border-radius);
                    border-bottom-right-radius: var(--chatbox-border-radius);
                    border: 0;
                    color: var(--text-color);
                    font-size: var(--font-size);
                    height: 100%;
                    width: 100%;
                    overflow-y: auto;

                    .validation-message {
                        font-size: 90%;
                        color: var(--error-color);
                    }
                    input[type=button],
                    input[type=submit] {
                        margin: 0 0.5em;
                    }
                    .button-primary {
                        background-color: var(--chatroom-head-button-color);
                    }
                }

                .chatroom-form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 2em;
                }
            }
        }

        .muc-bottom-panel {
            border-top: var(--message-input-border-top);
            height: 3em;
            padding: 0.5em;
            text-align: center;
            font-size: var(--font-size-small);
            background-color: var(--chatroom-head-color);
            color: white;
        }

        .sendXMPPMessage {
            .suggestion-box__results--above {
                bottom: 4.5em;
            }
            .chat-toolbar {
                background-color: white;
                border-top: var(--message-input-border-top);
                color: var(--message-input-color);
                .fas, .fas:hover,
                .far, .far:hover,
                .fa, .fa:hover {
                    color: var(--message-input-color);
                }
            }

            .chat-textarea {
                &:active, &:focus{
                    outline-color: var(--chatroom-head-color);
                }
                border-bottom-right-radius: 0;
                &.correcting {
                    background-color: var(--chatroom-correcting-color);
                }
            }
            .send-button {
                background-color: var(--message-input-color);
            }
        }

        .room-invite {
            .invited-contact {
                margin: -1px 0 0 -1px;
                width: 100%;
                border: 1px solid #999;
            }
        }
    }
}

/* ******************* Overlay  styles *************************** */

#conversejs.converse-overlayed {
    .chatbox {
        &.chatroom {
            .chatroom-features {
                display: none !important;
            }

            min-width: var(--chatroom-width) !important;
            width: var(--chatroom-width);
            .box-flyout {
                min-width: var(--chatroom-width) !important;
                width: var(--chatroom-width);
            }
            .chatbox-title {
                @include make-col(7);
                .chatroom-description {
                    font-size: 80%;
                }
            }
            .chatbox-buttons {
                @include make-col(5);
            }
            .chatroom-body {
                .occupants {
                    .occupants-heading {
                        padding: 0;
                    }
                    .occupant-list {
                        border-bottom: none;
                    }
                    .chatroom-features {
                        .feature {
                            font-size: var(--font-size-tiny);
                        }
                    }
                    ul {
                        .occupant {
                            .occupant-nick-badge {
                                .occupant-badges {
                                    display: none;
                                }
                            }
                            .occupant-status {
                                margin-top: 6px;
                            }
                        }
                    }
                }
                .chat-area {
                    min-width: var(--overlayed-chat-width);
                }
            }
            .sendXMPPMessage {
                .chat-toolbar {
                    li {
                        .toolbar-menu {
                            min-width: 280px;
                        }
                    }
                }
            }
        }
    }
}


#conversejs.converse-fullscreen {
    .chatroom {
        .box-flyout {
            .chatbox-title {
                @include make-col(9);
            }
            .chatbox-buttons {
                @include make-col(3);
            }
        }
    }
}

@include media-breakpoint-down(sm) {

    #conversejs:not(.converse-embedded) {
        .chatroom {
            width: 100vw !important;
            .box-flyout {
                .chatbox-navback {
                    @include make-col(2);
                }
                .chatbox-title {
                    @include make-col(7);
                }
                .chatbox-buttons {
                    @include make-col(3);
                }
            }
        }
    }
}

#conversejs.converse-embedded,
#conversejs.converse-fullscreen,
#conversejs.converse-mobile {

    .chatroom {
        .box-flyout {
            background-color: var(--chatroom-head-color);
            border: var(--flyout-padding) solid var(--chatroom-head-color);
            border-top: 0.8em solid var(--chatroom-head-color);
            width: 100%;

            .chatbox-title {
                .chatroom-description {
                    font-size: 70%;
                }
            }

            .chatroom-body {
                border-top-radius: var(--chatbox-border-radius);
                .chatroom-form-container {
                    border-radius: var(--chatbox-border-radius);
                }
                .chat-area {
                    border-top-left-radius: var(--chatbox-border-radius);
                    .chat-content {
                        border-top-left-radius: var(--chatbox-border-radius);
                    }
                    &.full {
                        .new-msgs-indicator {
                            max-width: 100%;
                        }
                    }
                }
                .occupants {
                    border-top-right-radius: var(--chatbox-border-radius);
                    padding: var(--occupants-padding);
                    .occupants-heading {
                        font-size: var(--font-size-large);
                    }
                    ul {
                        &.occupant-list {
                            li {
                                font-size: var(--font-size-small);
                            }
                        }
                    }
                }
            }
        }
        .room-invite {
            span {
                .invited-contact {
                    margin: 0 0 0.5em -1px;
                }
            }
        }
    }
}

#conversejs.converse-embedded {
    .chatroom {
        margin: 0;
        width: 100%;
        .box-flyout {
            .occupants-heading {
                font-size: 120%;
            }
            .chat-content {
                .chat-message {
                    margin: 0.5em;
                    font-size: 120%;
                }
            }
            .sendXMPPMessage {
                .chat-textarea {
                    padding: 0.5em;
                    font-size: 110%;
                }
            }
            .chatroom-body {
                height: 100%;
                .chatroom-form-container {
                    height: 100%;
                    position: relative;
                }
            }
            .occupants {
                .occupant-list {
                    padding-left: 0.3em;
                }
            }
        }
    }
}
