#conversejs {

    .set-xmpp-status, .xmpp-status, .roster-contacts {
        .fa-circle {
            color: $green;
        }
        .fa-minus-circle {
            color: $red
        }
        .fa-dot-circle-o {
            color: $orange,
        }
        .fa-circle-o {
            color: $subdued-color;
        }
        .fa-times-circle {
            color: $subdued-color;
        }
    }

    .room-info {
        font-size: $font-size-small;
        font-style: normal;
        font-weight: normal;

        li.room-info {
            display: block;
            margin-left: 5px;
        }
        p.room-info {
            line-height: $line-height;
            margin: 0;
            display: block;
            white-space: normal;
        }
    }
    div.room-info {
        padding: 0.3em 0;
        clear: left;
        width: 100%;
    }

    #converse-modals {
        .set-xmpp-status {
            margin: 1em;
            .custom-control-label {
                margin-top: 0.25em;
            }
        }
    }

    #controlbox {
        .box-flyout {
            background-color: white;
        }

        margin-right: 3*$chat-gutter;

        &.logged-out {
            .box-flyout {
                .controlbox-pane {
                    overflow-y: auto;
                }
            }
        }

        form.search-xmpp-contact {
            margin: 0;
            padding-left: 5px;
            padding: 0 0 5px 5px;
            input {
                width: 8em;
            }
        }

        .msgs-indicator {
            margin-right: 0.5em;
        }

        a.subscribe-to-user {
            padding-left: 2em;
            font-weight: bold;
        }

        #converse-register {
            @include fade-in;
            background: white;
            .title {
                font-weight: bold;
            }
            .info {
                color: green;
                font-size: 90%;
                margin: 1.5em 0;
            }
            .form-errors {
                color: $error-color;
                margin: 1em 0;
            }
            .provider-title {
                font-size: $font-size-huge;
                margin: 0;
            }
            .provider-score {
                width: 178px;
                margin-bottom: 8px;
            }
            .form-help .url {
                font-weight: bold;
                color: $link-color;
            }
            .input-group {
                display: table;
                margin: auto;
                width: 100%;
                span {
                    overflow-x: hidden;
                    text-overflow: ellipsis;
                    max-width: 110px;
                }
                span, input[name=username] {
                    display: table-cell;
                    text-align: left;
                }
            }
            .instructions {
                color: gray;
                font-size: 85%;
                &:hover {
                    color: $text-color;
                }
            }
        }

        .conn-feedback {
            color: $controlbox-head-color;
            &.error {
                color: $error-color;
            }
            p {
                padding-bottom: 1em;
                &.feedback-subject.error {
                    font-weight: bold;
                }
            }
        }

        .brand-heading-container {

            .brand-heading {
                text-align: center;
            }
            
            .brand-name {
                font-size: 120%;
            }
        }

        #converse-login-panel, #converse-register-panel {
            padding-top: 0;
            padding-bottom: 0;
        }

        #converse-login-panel {
            flex-direction: column;

            .brand-heading {
                color: $global-background-color;
            }
        }

        .toggle-register-login {
            font-weight: bold;
        }

        .oauth-login {
            margin-left: 0;
            color: $text-color;
            .icon-social:before {
                font-size: $font-size-large;
            }
        }


        .controlbox-pane {
            .userinfo {
                padding-bottom: 1em;

                .username {
                    margin-left: 0.5em;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .profile {
                    margin-bottom: 0.75em;
                }
            }
        }

        #chatrooms {
            padding: 0;

            .add-chatroom {
                input[type=button],
                input[type=submit],
                input[type=text] {
                    width: 100%;
                }
                margin: 0;
                padding: 0;
            }
        }

        .controlbox-section {
            margin: 1em 0 0 0;

            .controlbox-heading {
                font-family: $heading-font; 
                margin: 0 0 0.5em 0;
                text-transform: uppercase;
            }
        }

        .dropdown {
            a {
                width: 143px;
                display: inline-block;
            }
            li {
                list-style: none;
                padding-left: 0;
            }
            dd {
                ul {
                    padding: 0;
                    list-style: none;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    z-index: 21;
                    background-color: $light-background-color;
                    li:hover {
                        background-color: $highlight-color;
                    }
                }
            }

            dd.search-xmpp {
                height: 0;
                .contact-form-container {
                    position: absolute;
                    z-index: 22;
                    form {
                        box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.4);
                        background-color: white;
                    }
                }
                li:hover {
                    background-color: $light-background-color;
                }
            }
            dt a span {
                cursor: pointer;
                display: block;
                padding: 4px 7px 0 5px;
            }
        }

        .controlbox-panes {
            height: 100%;
            overflow-y: auto;
            background-color: white;
        }

        .controlbox-pane {
            padding: $controlbox-pane-padding;
            background-color: white;
            border: 0;
            font-size: $font-size;
            left: 0;
            text-align: left;
            overflow-x: hidden;

            .add-converse-contact {
                margin: 0 0 0.75em 0;
            }

            .chatbox-btn {
                margin: 0;
            }

            .switch-form {
                padding: 2em 0;
                p {
                    margin-top: 0.5em;
                }
            }
            dd {
                margin-left: 0;
                margin-bottom: 0;
                &.odd {
                    background-color: #DCEAC5;
                }
            }
        }

        .add-xmpp-contact {
            padding: 1em 0.5em;
            input {
                margin: 0 0 1rem;
                width: 100%;
            }
            button {
                width: 100%;
            }
        }
    }

    .toggle-controlbox {
        text-align: center;
        background-color: $link-color;
        border-top-left-radius: $button-border-radius;
        border-top-right-radius: $button-border-radius;
        color: #0a0a0a;
        float: right;
        height: 100%;
        margin: 0 $chat-gutter;
        padding: 1em;
        span {
            color: $inverse-link-color;
        }
    }
}

@include media-breakpoint-down(sm) {

    #conversejs:not(.converse-embedded)  {
        left: 0;
        right: 0;
        padding-left: env(safe-area-inset-left);
        padding-right: env(safe-area-inset-right);

        .converse-chatboxes {
            margin: 0 !important;
            flex-direction: row !important;
            justify-content: space-between;

            .converse-chatroom {
                font-size: 14px;
            }

            .chatbox { 
                .box-flyout {
                    top: -100vh;
                    margin-left: 15px; // Counteracts Bootstrap margins, but
                                       // not clear why needed...
                    left: 0;
                    bottom: 0;
                    border-radius: 0;
                    width: 100vw !important;
                    height: 100vh !important;
                }
            }

            #controlbox {
                order: 0;
                .box-flyout {
                    width: 100vw !important;
                    height: 100vh !important;
                }
                .sidebar {
                    display: block;
                }
            }

            &.sidebar-open {
                .chatbox:not(#controlbox) {
                    display: none;
                }
                #controlbox {
                    .controlbox-pane {
                        display: block;
                    }
                }
            }
        }
    }
}
