#conversejs {
    .message {

        &.date-separator {
            height: 2em;
            margin: 0;
            position: relative;
            text-align: center;
            z-index: 0;

            .separator {
                border: 0.5px solid $chat-head-color;
                margin: 0 1em;
                position: relative;
                top: 1em;
                z-index: 5;
            }

            .separator-text {
                background: white;
                bottom: 1px; // Offset needed due to .separator border size
                color: $message-text-color;
                display: inline-block;
                line-height: 2em;
                padding: 0 1em;
                position: relative;
                z-index: 5;
            }
        }

        &.chat-info {
            color: $chat-head-color;
            font-size: $message-font-size;
            line-height: $line-height-small;
            padding: 0.35rem 1rem;

            &.badge {
                color: $chat-head-text-color;
            }
            &.chat-state-notification {
                font-style: italic;
            }
            &.chat-event {
                clear: left;
                font-style: italic;
            }
            &.chat-error {
                color: $warning-color;
                font-weight: bold;
            }
        }

        .chat-image {
            height: auto;
            width: auto;
            max-height: 15em;
            max-width: 100%;
        }
        &.chat-action {
            font-style: italic;
        }

        &.chat-msg {
            display: flex;
            flex-direction: row;
            overflow: auto; // Ensures that content stays inside
            padding: 0.5rem 1rem;

            &.onload {
                animation: colorchange-chatmessage 1s;
                -webkit-animation: colorchange-chatmessage 1s;
            }
            &:hover {
                background-color: rgba(0, 0, 0, 0.035);
            }

            .spoiler {
                margin-top: 0.5em;
            }
            .spoiler-hint {
                margin-bottom: 0.5em;
            }
            .spoiler-toggle {
                color: white;
                i {
                    color: white;
                    padding-right: 0.5em;
                }
                &:before {
                    padding-right: 0.25em;
                    whitespace: nowrap;
                }
            }
            .chat-msg-content {
                margin-left: 0.5rem;
                width: 100%;
            }
            &.headline {
                .chat-msg-content {
                    margin-left: 0;
                }
            }

            .chat-msg-text {
                padding: 0;
                color: $message-text-color;
                a {
                    word-wrap: break-word;
                    word-break: break-all;
                }
                .emojione {
                    margin-bottom: -6px;
                }
            }
            
            .chat-msg-media {
                margin-top: 0.25rem;
                a {
                    word-wrap: break-word;
                }
                audio {
                    width: 100%;
                }
            }

            .avatar {
                margin-top: 0.5em;
                background: $gray-color;
                height: 36px;
                vertical-align: middle;
                width: 36px;
            }
            .chat-msg-heading {
                margin-top: 0.5em;
                padding-right: 0.25rem;
                padding-bottom: 0.25rem;
                display: block;

                .chat-msg-author {
                    font-weight: bold;
                }
                .chat-msg-time {
                    padding-left: 0.25em;
                    color: lighten($text-color, 15%);
                }
            }
            &.chat-action {
                .chat-msg-heading {
                    margin-top: 0;
                }
            }
            &.chat-msg-followup {
                padding: 0.25rem 1rem;

                .chat-msg-heading,
                .avatar {
                    display: none;
                }
                .chat-msg-content {
                    margin-left: 2.75rem;
                }
            }
        }
    }

    .chatroom-body .message {
        &.onload {
            animation: colorchange-chatmessage-muc 1s;
            -webkit-animation: colorchange-chatmessage-muc 1s;
        }
        .separator {
            border: 0.5px solid $chatroom-head-color;
        }
    }
}

#conversejs.converse-overlayed {
    .message {
        &.chat-msg {
            &.chat-msg-followup {
                .chat-msg-content {
                    margin-left: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #conversejs:not(.converse-embedded)  {
        .message {
            &.chat-msg {
                .chat-msg-author {
                    white-space: normal;
                }
            }
        }
    }
}
