#conversejs.converse-overlayed {
    #minimized-chats {
        order: 100;

        width: $minimized-chats-width;
        margin-bottom: 0;
        border-top-left-radius: $chatbox-border-radius;
        border-top-right-radius: $chatbox-border-radius;
        color: $inverse-link-color;
        margin-right: $chat-gutter;
        padding: 0;

        .badge {
            bottom: 8px;
            border: 1px solid $gray-color;
        }

        #toggle-minimized-chats {
            border-top-left-radius: $chatbox-border-radius;
            border-top-right-radius: $chatbox-border-radius;
            background-color: $link-color;
            padding: 1em 0 0 0;
            text-align: center;
            color: white;
            white-space: nowrap;
            overflow-y: hidden;
            text-overflow: ellipsis;
            display: block;
            height: 45px;
        }

        a.restore-chat {
            padding: 1px 0 1px 5px;
            color: $chat-head-text-color;
            line-height: 15px;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &:hover {
                text-decoration: none;
            }
        }

        a.restore-chat:visited {
            color: $chat-head-text-color;
        }

        .minimized-chats-flyout {
            flex-direction: column-reverse;
            bottom: 42px;
            width: $minimized-chats-width;

            .chat-head {
                padding: 0.3em;
                border-radius: $chatbox-border-radius;
                height: 35px;
                margin-bottom: 0.2em;
                box-shadow: 1px 3px 5px 3px rgba(0, 0, 0, 0.4);
                width: 100%;
            }
            &.minimized {
                height: auto;
            }
        }

        .unread-message-count {
            font-weight: bold;
            background-color: white;
            border: 1px solid;
            text-shadow: 1px 1px 0 $text-shadow-color;
            color: $warning-color;
            border-radius: 5px;
            padding: 2px 4px;
            font-size: 16px;
            text-align: center;
            position: absolute;
            right: 116px;
            bottom: 10px;
        }
        .unread-message-count-hidden,
        .chat-head-message-count-hidden {
            display: none;
        }
    }
}
