#conversejs {
    #user-profile-modal {
        label {
            font-weight: bold;
        }
    }
    .fingerprint-trust {
        display: flex;
        justify-content: space-between;
        font-size: 95%;
    }
}
