#conversejs {
    #controlbox {
        .available-chatroom {
            .pulse {
                padding: 0;
                margin: 0;
            }
            &.unread-msgs {
                .msgs-indicator {
                    border-radius: 10%;
                }
            }
        }
    }
}
