#conversejs #converse-roster {
    text-align: left;
    width: 100%;
    position: relative;
    margin: 1em 0 0 0;
    height: $roster-height;
    height: calc(100% - #{$controlbox-dropdown-height*2} - 20px);
    overflow: hidden;
    padding: 0;
    padding-bottom: 3em;

    &.no-contact-requests {
        height: calc(100% - #{$controlbox-dropdown-height} - 20px);
    }

    /* Custom addition for CSP */
    #online-count {
        display: none;
    }

    .search-xmpp {
        ul {
            li.chat-info {
                padding-left: 10px;
            }
        }
    }

    .roster-filter-form {
        margin: 0 1em;
        width: 100%;
        padding-right: 1em + 2*$chat-gutter;
        .roster-filter {
            float: left;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABNSURBVHjaXI7BDcAwCAMvyQjMyQ6dAbZiKfqoUK34g2zJh1dENIC7M8pMAPYdzAVY3d0ajNz9aypS/b5R6o+ZPdqoKgCq6h80KH3xDgBqNR97p8oAGQAAAABJRU5ErkJggg== ) no-repeat right -20px center;
            border: 1px solid #999;
            font-size: $font-size;
            height: $controlbox-dropdown-height;
            margin: 0;
            padding: 0;
            padding-left: 0.4em;
            width: 53%;
        }
        /* (jQ addClass:) if input has value: */
        .roster-filter.x {
            background-position: right 3px center;
        }
        /* (jQ addClass:) if mouse is over the 'x' input area*/
        .roster-filter.onX {
            cursor: pointer;
        }
        .state-type {
            float: left;
            border: 1px solid #999;
            font-size: calc(#{$font-size} - 2px);
            height: $controlbox-dropdown-height;
            margin: 0;
            padding: 0;
            padding-left: 0.4em;
            width: 53%;
        }
        .filter-type {
            display: table-cell;
            float: right;
            font-size: calc(#{$font-size} - 2px);
            height: $controlbox-dropdown-height;
            padding: 0;
            width: 47%;
            border-radius: 0;
            border: 1px solid;
        }
    }

    .roster-contacts {
        margin: 0;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        dt.roster-group {
            border: none;
            color: $text-color;
            display: none;
            font-weight: normal;
            margin-top: 0.5em;
            padding: 0.5em 1em;
            text-shadow: 0 1px 0 $text-shadow-color;
            &:hover {
                background-color: $highlight-color;
            }
            .group-toggle {
                color: $text-color;
                display: block;
                width: 100%;
            }
        }
        dd {
            border: none;
            clear: both;
            color: $text-color;
            background-color: $light-background-color;
            display: block;
            height: 24px;
            overflow-y: hidden;
            padding: 0.3em 1em;
            text-shadow: 0 1px 0 $text-shadow-color;
            line-height: $line-height;
            width: 100%;
            height: 30px;
            margin: 0;
            padding: 0;

            .open-chat {
                margin: auto;
                padding: 0.5em 0em 0 1em;
                width: 88%;
                .pulse {
                    padding: 0;
                    margin: 0;
                }
                &.unread-msgs {
                    font-weight: bold;
                    .contact-name {
                        width: 70%;
                    }
                    .avatar {
                        .pulse {
                            border: 0.7em solid $link-color;
                            background: transparent;
                            border-radius: 60px;
                            height: 30px;
                            width: 30px;
                            @include animation(pulse 3s ease-out);
                            @include animation-iteration-count(infinite);
                            margin: 0;
                            padding: 0;
                            margin-top: -7px;
                            margin-left: -31px;
                            z-index: 1;
                            opacity: 0;
                        }
                        &.avatar-online {
                            .pulse {
                                border: 0.7em solid $link-color;
                            }
                        }
                        @include keyframes(pulse) {
                            0% {
                                @include transform(scale(0));
                                opacity: 0.0;
                            }
                            25% {
                                @include transform(scale(0));
                                opacity: 0.1;
                            }
                            50% {
                                @include transform(scale(0.1));
                                opacity: 0.3;
                            }
                            75% {
                                @include transform(scale(0.5));
                                opacity: 0.5;
                            }
                            100% {
                                @include transform(scale(1));
                                opacity: 0.0;
                            }
                        }
                    }
                }

				.msgs-indicactor {
					background-color: $warning-color;
                    color: white;
					border-radius: 10%;
					float: right;
					font-size: 11px;
                    margin-left: -3em;
					font-weight: normal;
					padding: 0 4px;
                    text-shadow: none;
				}

                .contact-name {
                    padding: 0;
                    margin: 0;
                    max-width: 80%;
                    float: none;
                    height: $roster-item-height;
                }

                .avatar {
                    float: left;
                    display: inline-block;
                    height: $roster-item-height;

                    .status-icon {
                        color: $link-color;
                    }
                }
            }

            &:hover {
                background-color: $highlight-color;
                .remove-xmpp-contact {
                    display: inline-block;
                }
            }
            &.requesting-xmpp-contact {
                .request-actions {
                    padding-top: 0.5em;
                    margin-right: 1em;
                    margin-left: 0.3em;
                    margin-bottom: 0.3em;
                    float: right;
                }
                .open-chat {
                    max-width: 75%;
                    .req-contact-name {
                        width: 100%;
                    }
                }
                .req-contact-name {
                    line-height: $line-height;
                    width: 69%;
                    padding: 0;
                }
            }
            &.current-xmpp-contact span {
                font-size: 16px;
                float: left;
                color: $link-color;
                margin-right: 0.5em;
            }
            &.odd {
                background-color: #DCEAC5;
                /* Make this difference */
            }
            a, span {
                display: inline-block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            span {
                padding: 0;
                height: 100%;
            }
            a {
                &.decline-xmpp-request {
                    margin-left: 5px;
                }
                &.remove-xmpp-contact {
                    float: right;
                    margin-right: 1em;
                    display: none;
                    padding-top: 0.5em;
                    color: $text-color;
                }
            }
        }
    }
    span {
        &.pending-contact-name {
            line-height: $line-height;
            width: 100%;
        }
    }
}
