#conversejs #converse-roster {
    text-align: left;
    width: 100%;
    position: relative;
    margin: 0;
    height: var(--roster-height);
    padding: 0;
    overflow: hidden;
    // XXX: FIXME
    height: calc(100% - 70px);

    /* Custom addition for CSP */
    #online-count {
        display: none;
    }

    .search-xmpp {
        ul {
            li.chat-info {
                padding-left: 10px;
            }
        }
    }

    .roster-filter-form {
        width: 100%;

        .button-group {
            padding: 0.2em;
        }

        span {
            padding: 0.3em;
            cursor: pointer;
        }

        .roster-filter {
            width: 100%;
            margin: 0.2em;
            font-size: calc(var(--font-size) - 2px);
        }
        .state-type {
            font-size: calc(var(--font-size) - 2px);
            width: 100%;
        }
    }

    .roster-contacts {
        padding: 0;
        margin: 0 0 0.2em 0;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        .roster-group {
            border: none;
            color: var(--text-color);
            font-weight: normal;
            text-shadow: 0 1px 0 var(--text-shadow-color);
            margin: 0.75em 0 0.75em 0;

            .group-toggle {
                &:hover {
                    color: var(--roster-group-toggle-hover-color);
                }
                font-family: var(--heading-font);
                color: var(--text-color);
                display: block;
                width: 100%;
                padding-top: 0;
                padding-bottom: 0.3rem;
            }

            li {
                &.requesting-xmpp-contact {
                    a {
                        line-height: var(--line-height);
                        &.far, &.fas, &.fa {
                            width: 1.5em;
                        }
                    }
                    .req-contact-name {
                        padding: 0 0.2em 0 0;
                    }
                }

                .open-chat {
                    margin: 0;
                    padding: 0;
                    &.unread-msgs {
                        font-weight: bold;
                        .contact-name {
                            width: 70%;
                        }
                    }

                    .msgs-indicator {
                        color: white;
                        background-color: var(--chat-head-color);
                        opacity: 1;
                        border-radius: 10%;
                        padding: 0.2em;
                        font-size: var(--font-size-small);
                    }

                    .contact-name {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        padding: 0;
                        margin: 0;
                        max-width: 90%;
                        float: none;
                        height: 100%;
                        &.unread-msgs {
                            max-width: 60%;
                        }
                    }

                    .avatar {
                        float: left;
                        display: inline-block;
                    }
                }
                &.current-xmpp-contact span {
                    font-size: var(--font-size);
                    float: left;
                    margin-right: 0.5em;
                }
                &.odd {
                    background-color: #DCEAC5;
                    /* Make this difference */
                }
                a, span {
                    display: inline-block;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .decline-xmpp-request {
                    margin-left: 5px;
                }
                &:hover {
                    background-color: var(--controlbox-head-color-lighten-45-percent);
                }
            }
        }
    }
    span {
        &.pending-contact-name {
            line-height: var(--line-height);
            width: 100%;
        }
    }
}
