#conversejs #converse-roster {
    text-align: left;
    width: 100%;
    position: relative;
    margin: 1em 0 0 0;
    height: $roster-height;
    height: calc(100% - #{$controlbox-dropdown-height*2} - 20px);
    overflow: hidden;
    padding: 0;
    padding-bottom: 3em;

    &.no-contact-requests {
        height: calc(100% - #{$controlbox-dropdown-height} - 20px);
    }

    .search-xmpp {
        ul {
            li.chat-info {
                padding-left: 10px;
            }
        }
    }

    .roster-filter-group {
        margin: 0 1em;
        width: 100%;
        padding-right: 1em + 2*$chat-gutter;
        .roster-filter {
            float: left;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABNSURBVHjaXI7BDcAwCAMvyQjMyQ6dAbZiKfqoUK34g2zJh1dENIC7M8pMAPYdzAVY3d0ajNz9aypS/b5R6o+ZPdqoKgCq6h80KH3xDgBqNR97p8oAGQAAAABJRU5ErkJggg== ) no-repeat right -20px center;
            border: 1px solid #999;
            font-size: $font-size;
            height: $controlbox-dropdown-height;
            margin: 0;
            padding: 0;
            padding-left: 0.4em;
            width: 53%;
        }
        /* (jQ addClass:) if input has value: */
        .roster-filter.x {
            background-position: right 3px center;
        }
        /* (jQ addClass:) if mouse is over the 'x' input area*/
        .roster-filter.onX {
            cursor: pointer;
        }
        .state-type {
            float: left;
            border: 1px solid #999;
            font-size: calc(#{$font-size} - 2px);
            height: $controlbox-dropdown-height;
            margin: 0;
            padding: 0;
            padding-left: 0.4em;
            width: 53%;
        }
        .filter-type {
            display: table-cell;
            float: right;
            font-size: calc(#{$font-size} - 2px);
            height: $controlbox-dropdown-height;
            padding: 0;
            width: 47%;
            border-radius: 0;
            border: 1px solid;
        }
    }

    .roster-contacts {
        margin: 0;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        dt.roster-group {
            border: none;
            color: $text-color;
            display: none;
            font-weight: normal;
            margin-top: 0.5em;
            padding: 0.5em 1em;
            text-shadow: 0 1px 0 $text-shadow-color;
            &:hover {
                background-color: $highlight-color;
            }
            .group-toggle {
                color: $text-color;
                display: block;
                width: 100%;
            }
        }
        dd {
            border: none;
            clear: both;
            color: $text-color;
            background-color: $light-background-color;
            display: block;
            height: 24px;
            overflow-y: hidden;
            padding: 0.3em 0 0.3em 1em;
            text-shadow: 0 1px 0 $text-shadow-color;
            line-height: $font-size;
            width: 100%;
            .open-chat {
                max-width: 90%;
            }
            &:hover {
                background-color: $highlight-color;
                .remove-xmpp-contact {
                    display: inline-block;
                }
                .open-chat {
                    width: 80%;
                }
            }
            &.requesting-xmpp-contact {
                &.request-actions {
                    margin-left: 0.5em;
                    margin-bottom: 0.3em;
                    float: right;
                }
                .req-contact-name {
                    width: 69%;
                    padding: 0;
                }
            }
            &.current-xmpp-contact span {
                font-size: 16px;
                float: left;
                color: $link-color;
            }
            &.odd {
                background-color: #DCEAC5;
                /* Make this difference */
            }
            a, span {
                text-shadow: 0 1px 0 $link-shadow-color;
                display: inline-block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            span {
                padding: 0 0.5em 0 0;
                height: 100%;
            }
            a {
                &.decline-xmpp-request {
                    margin-left: 5px;
                }
                &.remove-xmpp-contact {
                    float: right;
                    margin-right: 1em;
                    display: none;
                    color: $text-color;
                }
            }
        }
    }
    span {
        &.pending-contact-name {
            width: 80%;
        }
    }
}
