$mobile_landscape_height: 450px !default;
$mobile_portrait_length: 480px !default;

$font-path: "webfonts/icomoon/fonts/" !default;

#conversejs {
    --subdued-color: #A8ABA1;
    --subdued-color-lighten-25-percent: #e6e7e4; // lighten(#A8ABA1, 25%)

    --chat-status-online: #3AA569; // $green
    --chat-status-busy: #E77051; // $red
    --chat-status-away: #E7A151; // $orange

    --brand-heading-color: #387592; // $blue

    --completion-light-color: #FFB9A7; // $lightest-red
    --completion-normal-color: #E77051; // $red
    --completion-dark-color: #D24E2B; // $dark-red

    --link-color: #578EA9; // $light-blue
    --link-color-darken-20-percent: #345566; // darken($light-blue, 20%)
    --link-color-lighten-10-percent: #79a5ba; // lighten($light-blue, 10%)
    --dark-link-color: #206485; // $dark-blue
    --global-background-color: #578EA9; // $light-blue

    --inverse-link-color: white;
    --text-shadow-color: #FAFAFA;
    --text-color: #666;
    --text-color-lighten-15-percent: #8c8c8c; // lighten(#666, 15%)
    --message-text-color: #555;
    --save-button-color: #3AA569; // $green

    --chat-textarea-color: #666;
    --chat-textarea-height: 60px;

    --send-button-height: 27px;
    --send-button-margin: 3px;

    --roster-height: 194px;
    --roster-group-toggle-hover-color: #585B51; // $dark-gray-color

    --flyout-padding: 1.2em;

    --chat-head-color: #3AA569; // $green
    --chat-head-color-lighten-50-percent: #e7f7ee; // lighten($green, 50%)
    --chat-head-text-color: white;

    --highlight-color: #DCF9F6;

    --primary-color: #E7A151; // $orange
    --secondary-color: #387592; // $blue
    --warning-color: #D24E2B; // $dark-red

    --light-background-color: #FCFDFD;

    --error-color: #A53214; // $darkest-red
    --info-color: #1E9652; // $dark-green

    --button-border-radius: 5px;
    --chatbox-border-radius: 4px;

    --controlbox-width: 250px;
    --controlbox-head-color: #578EA9; // $light-blue
    --controlbox-head-color-lighten-45-percent: #eff4f7; // lighten($light-blue, 45%)

    --chat-gutter: 0.5em;
    --minimized-chats-width: 130px;

    --mobile-chat-width: 100%;
    --mobile-chat-height: 400px;

    // TODO: figure out a way to concatenate custom properties with strings.
    // --font-path: "webfonts/icomoon/fonts/";

    --normal-font: "Helvetica", "Arial", sans-serif;
    --heading-font: 'Century Gothic', futura, 'URW Gothic L', Verdana, sans-serif;

    --chatroom-head-color: #E77051; // $red
    --chatroom-head-color-lighten-25-percent: #f6ccc1; // lighten($red, 25%)
    --chatroom-head-color-lighten-30-percent: #fadfd7; // lighten($red, 30%)
    --chatroom-width: 400px;

    --headline-head-color: #E7A151; // $orange
    --headline-message-color: #D2842B; // $dark-orange

    --chatbox-button-size: 14px;
    --fullpage-chatbox-button-size: 16px;

    --font-size-tiny: 10px;
    --font-size-small: 12px;
    --font-size: 14px;
    --font-size-large: 16px;
    --font-size-huge: 20px;

    --message-font-size: var(--font-size);

    --line-height-small: 14px;
    --line-height: 16px;
    --line-height-large: 20px;
    --line-height-huge: 27px;

    --occupants-padding: 1em;

    --embedded-emoji-picker-height: 200px;

    --fullpage-chat-head-height: 62px;
    --fullpage-chat-height: 100vh;
    --fullpage-chat-width: 100%;
    --fullpage-emoji-picker-height: 200px;
    --fullpage-max-chat-textarea-height: 15em;

    --overlayed-chat-head-height: 55px;
    --overlayed-chat-height: 450px;
    --overlayed-chat-width: 250px;
    --overlayed-chatbox-hover-height: 1em;
    --overlayed-emoji-picker-height: 100px;
    --overlayed-max-chat-textarea-height: 200px;
    --overlayed-badge-color: #818479; // $gray-color

    --list-toggle-color: #585B51; // $dark-gray-color
    --list-toggle-hover-color: #818479; // $gray-color
    --list-item-action-color: #e3eef3; // lighten($lightest-blue, 25%)
    --list-circle-color: #89d6ab; // lighten($green, 25%)
    --list-minus-circle-color: #f0a794; // lighten($red, 15%)
    --list-dot-circle-color: #f6dec1; // lighten($orange, 25%)
}
