
  $link-color: #436F64;
  $inverse-link-color: white;
  $link-shadow-color: #FAFAFA;
  $text-shadow-color: #FAFAFA;
  $text-color: #6C4C44;
  $border-color: #CCC;
  $warning-color: #681F2C;
  $light-background-border-color: #F1DCD6;
  $light-background-color: #F1E2DD;
  $icon-color: #114327;
  $highlight-color: #E3C9C1;
  $chat-head-color: #436F64;
  $chatroom-head-color: #0F592F;
  $chat-head-text-color: white;
  $chat-head-inverse-text-color: white;
  $chat-head-height: 44px;
  $save-button-color: #436F64;
  $chat-textarea-height: 62px;
  $toolbar-height: 20px;
  $message-them-color: #4B7003;
  $roster-height: 194px;
  $controlbox-dropdown-height: 25px;

  $bottom-gutter-height: 35px;

  $mobile_landscape_length: 480px;

  $font-size: 14px;
  $legend-font-size: 16px;

  $chatroom-width: 300px;
  $chat-width: 200px;
  $chat-height: 400px;
  $chat-gutter: 7px;

  $mobile-chat-width: 100%;
  $mobile-chat-height: 400px;

