#conversejs.converse-fullscreen,
#conversejs.converse-mobile {

    .chat-head-chatroom {
        height: $chatroom-head-height;
        font-size: 20px;
        .chat-title {
            .chatroom-description {
                font-size: 65%;
            }
        }
    }

    .chatroom {
        .box-flyout {
            background-color: $chatroom-head-color;
            border: $flyout-padding solid $chatroom-head-color;
            border-top: 0.8em solid $chatroom-head-color;
            width: 100%;

            .chatroom-body {
                @include border-top-radius($chatbox-border-radius);
                .chatroom-form-container {
                    border-radius: $chatbox-border-radius;
                }
                .chat-area {
                    border-top-left-radius: $chatbox-border-radius;
                    min-width: auto;

                    .chat-content {
                        border-top-left-radius: $chatbox-border-radius;
                    }
                    &.full {
                        max-width: 100%;
                        .new-msgs-indicator {
                            max-width: 100%;
                        }
                    }
                }
                .occupants {
                    border-top-right-radius: $chatbox-border-radius;;
                    padding: $padding;
                    .occupants-heading {
                        font-size: $font-size-large;
                    }
                    ul {
                        &.occupant-list {
                            li {
                                font-size: $font-size-small;
                            }
                        }
                    }
                }
            }
        }
        .room-invite {
            span {
                .invited-contact {
                    margin: 0 0 0.5em -1px;
                }
            }
        }
    }
}
