#conversejs.fullscreen {

    #controlbox {
        width: 100%;
        float: left;
        margin: 0;

        #login-dialog {
            border-radius: 5px;
            .converse-form {
                margin: 0;
                padding: 3em 2em 3em;
            }
        }

        .toggle-register-login {
            line-height: $line-height-huge;
        }

        .brand-heading-container {
            text-align: center;
            .brand-heading {
                font-size: 150%;
                font-size: 600%;
                padding: 0.7em 0 0 0;
                opacity: 0.8;
                color: $blue;
            }
            .brand-subtitle {
                font-size: 90%;
                padding: 0.5em;
            }
            @media screen and (max-width: $mobile-portrait-length) {
                .brand-heading {
                    font-size: 400%;
                }
            }
        }

        &.logged-out {
            @include fade-in;
            width: 100%;
            .box-flyout {
                width: 100%;
            }
        }
        .box-flyout {
            border: 0;
            width: 100%;
            z-index: 1;
            background-color: $controlbox-head-color;
        }

        #converse-register, #converse-login {
            margin: 2em 30% 3em 30%;
            .title, .instructions {
                margin: 1em 0;
            }
            input[type=submit],
            input[type=button] {
                width: auto;
            }
            input {
                width: 100%;
                margin: 1em 0;
                &.pure-button {
                    margin: 1em 0.5em;
                }
            }
        }
        @media screen and (max-width: $mobile-portrait-length) {
            #converse-register,
            #converse-login {
                margin: 3em 10% 3em 10%;
            }
        }
    }
}
