body {
    font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    background-color: $global-background-color;

    .brand-heading {
        font-size: 600%;
        margin-left: -10%;
        &.fade-in {
            @include fade-in;
            @include animation-delay(2s);
        }
        .icon-conversejs {
            font-size: 88%;
        }
    }

    div.content {
        height: 100vh;
        width: 100vw;
        position: fixed;
        background-color: $global-background-color;

        .inner-content {
            text-align: center;
            padding: 7%;
            @include calc(padding-left, '5% + #{$controlbox-width}');

            p.no-chats {
                padding-right: 10%;
                font-size: 120%;
            }
        }
    }
}

#conversejs.fullscreen {
    .converse-chatboxes {
        width: 100vw;
        right: 15px; // Hack due to padding added by bootstrap
    }
}
