$max-chat-textarea-height: 400px !default;
$emoji-picker-height: 150px !default;

$roster-item-height: 30px !default;

$flyout-padding: 1.2em;

$chat-head-height: 62px !default;

$controlbox-dropdown-height: 30px !default;
$controlbox-head-height: 63px !default;

$rounded-border-radius: 4px !default;

$chatbox-hover-height: 6px !default;

$font-size-small: 14px !default;
$font-size: 16px !default;
$font-size-large: 18px !default;
$font-size-huge: 26px !default;
$legend-font-size: 18px !default;

$line-height-small:  20px !default;
$line-height:  22px !default;
$line-height-large:  24px !default;
$line-height-huge:  30px !default;

$chat-width: 100% !default;
$chat-height: 100%;

$padding: 1em;

$chatroom-head-height: 62px !default;
$chatroom-width: 300px !default;
