$max-chat-textarea-height: 400px !default;
$emoji-picker-height: 150px !default;

$roster-item-height: 30px !default;

$chat-head-height: 62px !default;

$controlbox-dropdown-height: 30px !default;
$controlbox-head-height: 63px !default;

$rounded-border-radius: 4px !default;

$chatbox-hover-height: 6px !default;

$chat-width: 100% !default;
$chat-height: 100%;
