/* 
    Color scheme helpers:
    https://coolors.co/app/264653-2a9d8f-e9c46a-f4a261-e76f51
    http://paletton.com/#uid=53f0u0knsvIdILAj5Cftgu3uBmZ
 */
$global-background-color: #17818B !default;

$link-color: #587BDD !default;
$inverse-link-color: white !default;
$link-shadow-color: #FAFAFA !default;
$text-shadow-color: #FAFAFA !default;
$text-color: #818479 !default;
$light-text-color: #A8ABA1 !default;
$border-color: #CCC !default;
$icon-color: #114327 !default;
$save-button-color: #436F64 !default;
$chat-textarea-height: 70px !default;
$send-button-height: 27px !default;
$send-button-margin: 3px !default;
$message-them-color: #1A9707 !default;
$roster-height: 194px !default;
$roster-item-height: 30px !default;

$chat-head-color: #F4A261 !default;
$chat-head-text-color: white !default;
$chat-head-inverse-text-color: white !default;
$chat-head-height: 55px !default;
$controlbox-head-height: 63px !default;
$chatroom-head-height: 55px !default;

$input-focus-color: #1A9707 !default;
$highlight-color: #DCF9F6 !default;

$controlbox-head-color: #577BDD !default;
$controlbox-dropdown-height: 25px !default;

$primary-color: #2AC611 !default;
$secondary-color: #83A0D6 !default;
$warning-color: #D24E2B !default;

$light-background-border-color: #B1BFC4 !default;
$light-background-color: #FCFDFD !default;

$toolbar-height: 25px !default;
$toolbar-color: #FFF5EE !default;

$moderator-color: #D24E2B !default;
$online-color: #1A9707 !default;
$error-color: #D24E2B !default;
$subdued-color: #BBB !default;

$button-border-radius: 4px !default;
$chatbox-border-radius: 0 !default;
$bottom-gutter-height: 35px !default;
$chatbox-hover-height: 6px !default;

$mobile_landscape_height: 450px !default;
$mobile_portrait_length: 480px !default;

$font-size-tiny: 10px !default;
$font-size-small: 14px !default;
$font-size: 15px !default;
$font-size-large: 17px !default;
$legend-font-size: 17px !default;

$line-height:  16px !default;

$controlbox-width: 250px !default;
$chat-width: 100% !default;
$chat-height: 100%;
$chat-gutter: 0.5em !default;
$minimized-chats-width: 130px !default;

$padding: 1em;

$mobile-chat-width: 100% !default;
$mobile-chat-height: 400px !default;
$small-mobile-chat-height: 300px !default;

/* $font-path: "../fonticons/fonts/" !default; */
$font-path: "https://cdn.conversejs.org/fonticons/fonts/" !default;

$chatroom-width: 300px !default;
$chatroom-head-color: #E76F51 !default;
$chatroom-color-light: #FF977C !default;
$chatroom-color-dark: #D24E2B !default;

$headline-head-color: #2A9D8F !default;

$box-close-button-padding-top: 4px !default;
$box-close-button-padding-bottom: 4px !default;
$box-close-button-padding-left: 4px !default;
$box-close-button-padding-right: 4px !default;
$box-close-font-size: 16px !default;
