*~
*.mo
*.kpf
*.swp
.*.cfg
.hg/
.bzr/
.svn/
.project
.pydevproject

Backbone.Overview
tags
stamp-npm
stamp-bower

# Sphinx
docs/html
docs/doctrees

# Bower
components

# Node.js
node_modules

# Virtualenv/Buildout
lib
include
bin
develop-eggs

# OSX
.DS_Store
