*~
.sw?
*.mo
*.kpf
.*.sw?
.*.cfg
.hg/
.bzr/
.svn/
.project
.pydevproject
analytics.js
inverse-analytics.js
.idea
eggs
.Python
build

dev-jc.html
inverse-dev.html
inverse-dev-jc.html

converse-logs/*.html

# Ruby/Sass/Bundler
.bundle
.sass-cache
ruby
bourbon

Backbone.Overview
tags
stamp-npm
stamp-bower
stamp-bundler

# Sphinx
docs/html
docs/doctrees

# Node.js
node_modules

# Virtualenv/Buildout
lib
include
bin
develop-eggs

# OSX
.DS_Store

# Builds
dist/*
css/*.map
css/*.min.css
.sv?
/vendor/
