[buildout]
parts =
    sphinx

versions = versions

[sphinx]
recipe = zc.recipe.egg
eggs =
    Sphinx
    sphinx-bootstrap-theme

[versions]
docutils = 0.12
Jinja2 = 2.7.3
MarkupSafe = 0.23
Pygments = 2.0.1
setuptools = 7.0
six = 1.8.0
Sphinx = 1.2.1
z3c.recipe.egg = 2.0.1
zc.buildout = 2.2.5
