converse-image-picker {
    .image-picker {
        position: relative;
        display: inline-block;
    }

    .clear-image {
        background: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
        border-radius: 50%;
        border: none;
        cursor: pointer;
        padding: 5px;
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 10;
    }
}
