.conversejs {
    converse-split-resize {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
        background-position: 50%;
        background-repeat: no-repeat;
        cursor: col-resize;
        width: 0.25em !important;
    }
}
