{[ if (o.use_emoji)  { ]}
<li class="toggle-toolbar-menu toggle-smiley">
    <a class="icon-happy" title="{{{o.label_insert_smiley}}}"></a>
    <span class="emoji-picker"></span>
</li>
{[ } ]}
{[ if (o.show_call_button)  { ]}
<li class="toggle-call"><a class="icon-phone" title="{{{o.label_start_call}}}"></a></li>
{[ } ]}
{[ if (o.show_occupants_toggle)  { ]}
<li class="toggle-occupants"><a class="icon-hide-users" title="{{{o.label_hide_occupants}}}"></a></li>
{[ } ]}
{[ if (o.show_clear_button)  { ]}
<li class="toggle-clear"><a class="icon-trash" title="{{{o.label_clear}}}"></a></li>
{[ } ]}

