<div class="chatroom-form-container">
    <form class="converse-form chatroom-form">
        <fieldset class="form-group">
            <legend>{{{o.heading}}}</legend>
            <label>{{{o.label_name}}}</label>
            <input type="text" name="name" required="required"/>
            <label>{{{o.label_autojoin}}}</label>
            <input type="checkbox" name="autojoin"/>
            <label>{{{o.label_nick}}}</label>
            <input type="text" name="nick" value="{{{o.default_nick}}}"/>
        </fieldset>
        <fieldset class="form-group">
            <input class="btn btn-primary" type="submit" value="{{{o.label_submit}}}"/>
            <input class="btn btn-secondary button-cancel" type="button" value="{{{o.label_cancel}}}"/>
        </fieldset>
    </form>
</div>
