<div class="chat-head chat-head-chatbox row no-gutters">
    <div class="col">
        <div class="row no-gutters">
            <div class="col chat-title" title="{{{o.jid}}}">
                {[ if (o.url) { ]}
                    <a href="{{{o.url}}}" target="_blank" rel="noopener" class="user">
                {[ } ]}
                        {{{ o.fullname || o.jid }}}
                {[ if (o.url) { ]}
                    </a>
                {[ } ]}
                <p class="user-custom-message">{{{ o.status }}}</p>
            </div>
        </div>
    </div>
    <div class="chatbox-buttons row no-gutters">
        <a class="chatbox-btn close-chatbox-button fa fa-close" title={{{o.info_close}}}></a>
        <!-- <a class="chatbox-btn fa fa-vcard" title="Contact profile" data-toggle="modal" data-target="#contactProfileModal"></a> -->
    </div>
</div>
