<div class="flyout box-flyout">
    <div class="dragresize dragresize-top"></div>
    <div class="dragresize dragresize-topleft"></div>
    <div class="dragresize dragresize-left"></div>
    <div class="chat-head chat-head-chatbox">
        <a class="chatbox-btn close-chatbox-button icon-close" title="{{info_close}}"></a>
        <div class="chat-title">
            {[ if (url) { ]}
                <a href="{{url}}" target="_blank" rel="noopener" class="user">
            {[ } ]}
                    {{ title }}
            {[ if (url) { ]}
                </a>
            {[ } ]}
        </div>
        <p class="user-custom-message"><p/>
    </div>
    <div class="chat-body">
        <div class="chat-content"></div>
        {[ if (show_textarea) { ]}
        <form class="sendXMPPMessage" action="" method="post">
            {[ if (show_toolbar) { ]}
                <ul class="chat-toolbar no-text-select"></ul>
            {[ } ]}
        <textarea
            type="text"
            class="chat-textarea"
            placeholder="{{label_personal_message}}"/>
        </form>
        {[ } ]}
    </div>
</div>
