{[ if (use_emoji)  { ]}
    <li class="toggle-smiley icon-happy" title="{{{label_insert_smiley}}}">
        <ul class="emoji-picker"></ul>
    </li>
{[ } ]}
{[ if (show_call_button)  { ]}
<li class="toggle-call"><a class="icon-phone" title="{{{label_start_call}}}"></a></li>
{[ } ]}
{[ if (show_occupants_toggle)  { ]}
<li class="toggle-occupants"><a class="icon-hide-users" title="{{{label_hide_occupants}}}"></a></li>
{[ } ]}
{[ if (show_clear_button)  { ]}
<li class="toggle-clear"><a class="icon-trash" title="{{{label_clear}}}"></a></li>
{[ } ]}

