<div class="chat-area">
    <div class="chat-content {[ if (show_send_button) { ]}chat-content-sendbutton{[ } ]}"></div>
    <div class="new-msgs-indicator hidden">▼ {{{ unread_msgs }}} ▼</div>
    <form class="sendXMPPMessage">
        {[ if (show_toolbar) { ]}
            <ul class="chat-toolbar no-text-select"></ul>
        {[ } ]}
        <textarea type="text" class="chat-textarea {[ if (show_send_button) { ]}chat-textarea-send-button{[ } ]}"
            placeholder="{{{label_message}}}"/>
    {[ if (show_send_button) { ]}
        <button type="submit" class="pure-button send-button">{{{ label_send }}}</button>
    {[ } ]}
    </form>
</div>
