<div class="chatroom-form-container">
    <form class="pure-form converse-form chatroom-form converse-centered-form">
        <fieldset>
            <label>{{{heading}}}</label>
            <p class="validation-message">{{{validation_message}}}</p>
            <input type="text" required="required" name="nick" class="new-chatroom-nick" placeholder="{{{label_nickname}}}"/>
        </fieldset>
        <fieldset>
            <input type="submit" class="pure-button button-primary" name="join" value="{{{label_join}}}"/>
        </fieldset>
    </form>
</div>
