<div class="flyout box-flyout">
    <div class="chat-head chat-head-chatbox">
        <a class="chatbox-btn close-chatbox-button icon-close" title="{{{info_close}}}"></a>
        <div class="chat-title">
            {[ if (url) { ]}
                <a href="{{{url}}}" target="_blank" rel="noopener" class="user">
            {[ } ]}
                    {{{ title }}}
            {[ if (url) { ]}
                </a>
            {[ } ]}
            <p class="user-custom-message"><p/>
        </div>
    </div>
    <div class="chat-body">
        <div class="chat-content {[ if (show_send_button) { ]}chat-content-sendbutton{[ } ]}"></div>
        <div class="new-msgs-indicator hidden">▼ {{{ unread_msgs }}} ▼</div>
        {[ if (show_textarea) { ]}
        <form class="sendXMPPMessage">
            {[ if (show_toolbar) { ]}
                <ul class="chat-toolbar no-text-select"></ul>
            {[ } ]}
        <textarea
            type="text"
            class="chat-textarea {[ if (show_send_button) { ]}chat-textarea-send-button{[ } ]}"
            placeholder="{{{label_personal_message}}}"/>

        {[ if (show_send_button) { ]}
            <button type="submit" class="pure-button send-button">{{{ label_send }}}</button>
        {[ } ]}
        </form>
        {[ } ]}
    </div>
</div>
