<form class="pure-form set-xmpp-status" id="set-xmpp-status" action="" method="post">
    <select id="select-xmpp-status">
        <option value="online">{{{o.label_online}}}</option>
        <option value="dnd">{{{o.label_busy}}}</option>
        <option value="away">{{{o.label_away}}}</option>
        {[ if (o.include_offline_state)  { ]}
        <option value="offline">{{{o.label_offline}}}</option>
        {[ } ]}
        {[ if (o.allow_logout)  { ]}
        <option value="logout">{{{o.label_logout}}}</option>
        {[ } ]}
    </select>
</form>
