<div class="list-container list-container--headline {{{ !o.headlineboxes.length && 'hidden' || '' }}}">
<div class="items-list rooms-list headline-list">
    {[o.headlineboxes.forEach(function (headline) { ]}
        <div class="list-item controlbox-padded d-flex flex-row"
            data-headline-jid="{{{headline}}}">
        <a class="list-item-link open-headline available-room w-100"
            data-headline-jid="{{{headline}}}"
            title="{{{o.open_title}}}" href="#">{{{headline}}}</a>
        </div>
    {[ }) ]}
</div>
</div>
