<form id="converse-login" method="post">
    {[ if (auto_login) { ]}
        <span class="spinner login-submit"/>
    {[ } ]}
    {[ if (!auto_login) { ]}
        {[ if (authentication == LOGIN) { ]}
            <label>{{label_username}}</label>
            <input name="jid" placeholder="{{placeholder_username}}">
            <label>{{label_password}}</label>
            <input type="password" name="password" placeholder="{{placeholder_password}}">
            <input class="submit" type="submit" value="{{label_login}}">
            <span class="conn-feedback"></span>
        {[ } ]}
        {[ if (authentication == ANONYMOUS) { ]}
            <input type="submit" class="submit login-anon" value="{{label_anon_login}}"/>
        {[ } ]}
        {[ if (authentication == PREBIND) { ]}
            <p>Disconnected.</p>
        {[ } ]}
    {[ } ]}
</form>
