<div class="modal fade" id="user-profile-modal" tabindex="-1" role="dialog" aria-labelledby="user-profile-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="user-profile-modal-label">{{{o.heading_profile}}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{{{o.label_close}}}"><span aria-hidden="true">&times;</span></button>
            </div>
            <form class="converse-form">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-auto">
                            <a class="change-avatar" href="#">
                                {[ if (o.image) { ]}
                                    <img alt="{{{o.alt_avatar}}}" class="img-thumbnail avatar align-self-center" height="100px" width="100px" src="data:{{{o.image_type}}};base64,{{{o.image}}}"/>
                                {[ } ]}
                                {[ if (!o.image) { ]}
                                    <canvas class="avatar" height="100px" width="100px"/>
                                {[ } ]}
                            </a>
                            <input class="hidden" name="image" type="file">
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="col-form-label">{{{o.label_jid}}}:</label>
                                <div>{{{o.jid}}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="vcard-fullname" class="col-form-label">{{{o.label_fullname}}}:</label>
                        <input id="vcard-fullname" type="text" class="form-control" name="fn" value="{{{o.fullname}}}">
                    </div>
                    <div class="form-group">
                        <label for="vcard-nickname" class="col-form-label">{{{o.label_nickname}}}:</label>
                        <input id="vcard-nickname" type="text" class="form-control" name="nickname" value="{{{o.nickname}}}">
                    </div>
                    <div class="form-group">
                        <label for="vcard-url" class="col-form-label">{{{o.label_url}}}:</label>
                        <input id="vcard-url" type="url" class="form-control" name="url" value="{{{o.url}}}">
                    </div>
                    <div class="form-group">
                        <label for="vcard-email" class="col-form-label">{{{o.label_email}}}:</label>
                        <input id="vcard-email" type="email" class="form-control" name="email" value="{{{o.email}}}">
                    </div>
                    <div class="form-group">
                        <label for="vcard-role" class="col-form-label">{{{o.label_role}}}:</label>
                        <input id="vcard-role" type="text" class="form-control" name="role" value="{{{o.role}}}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="save-form btn btn-primary">{{{o.label_save}}}</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{{o.label_close}}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
