<form id="converse-register" class="pure-form converse-form">
    <legend>{{{__("Account Registration")}}}</legend>

    <label>{{{__("Please enter the XMPP provider to register with:")}}}</label>
    <p class="form-help">{{{help_providers}}} <a href="{{{href_providers}}}" class="url" target="_blank" rel="noopener">{{{help_providers_link}}}</a>.</p>
    <div class="form-errors hidden"></div>

    {[ if (default_domain) { ]}
    	{{{default_domain}}}
    {[ } ]}
    {[ if (!default_domain) { ]}
    	<input autofocus type="text" name="domain" placeholder="{{{domain_placeholder}}}">
        <input class="pure-button button-primary" type="submit" value="{{{label_register}}}">
    {[ } ]}
</form>

<div class="switch-form">
    <p>{{{ __("Already have a chat account?") }}}</p>
    <p>
        <a class="login-here toggle-register-login" href="#converse-login">{{{__("Log in here")}}}</a>
    </p>
</div>
