<form class="add-chatroom" action="" method="post">
    <label>{{label_room_name}}</label>
    <input type="text" name="chatroom" class="new-chatroom-name"
        placeholder="{{label_room_name}}"/>
    <label>{{label_nickname}}</label>
    <input type="text" name="nick" class="new-chatroom-nick"
        placeholder="{{label_nickname}}"/>
    {[ if (server_input_type != 'hidden') { ]}
        <label{{server_label_global_attr}}>{{label_server}}</label>
    {[ } ]}
    <input type="{{server_input_type}}" name="server" class="new-chatroom-server"
        placeholder="{{label_server}}"/>
    <div class="button-group">
        <input type="submit" class="left" name="join" value="{{label_join}}"/>
        <input type="button" class="right" name="show" id="show-rooms" value="{{label_show_rooms}}"/>
    </div>
</form>
<dl id="available-chatrooms"></dl>
