<a class="open-chat {[ if (o.num_unread) { ]} unread-msgs {[ } ]}"
   title="{{{o.title_fullname}}}: {{{o.fullname}}} JID: {{{o.jid}}} {{{o.desc_chat}}}"
   href="#">
    <div class="avatar avatar-{{{o.chat_status}}}">
        <span class="status-icon icon-{{{o.chat_status}}}" title="{{{o.desc_status}}}"></span>
    </div>
    {[ if (o.num_unread) { ]}
    <span class="msgs-indicator">{{{ o.num_unread }}}</span>
    {[ } ]}
    <span class="contact-name {[ if (o.num_unread) { ]} unread-msgs {[ } ]}">{{{o.fullname}}}</span>
</a>
{[ if (o.allow_contact_removal) { ]}
<a class="remove-xmpp-contact icon-remove" title="{{{o.desc_remove}}}" href="#"></a>
{[ } ]}


