<a class="open-chat {[ if (num_unread) { ]} unread-msgs {[ } ]}"
   title="{{{title_fullname}}}: {{{fullname}}} JID: {{{jid}}} {{{desc_chat}}}"
   href="#">
    <div class="avatar avatar-{{{chat_status}}}">
        <span class="status-icon icon-{{{chat_status}}}" title="{{{desc_status}}}"></span>
        {[ if (num_unread) { ]}
        <span class="pulse"></span>
        {[ } ]}
    </div>
    <span class="contact-name unread-msgs">{{{fullname}}}</span>
    {[ if (num_unread) { ]}
    <span class="msgs-indicactor">{{{ num_unread }}}</span>
    {[ } ]}
</a>
{[ if (allow_contact_removal) { ]}
<a class="remove-xmpp-contact icon-remove" title="{{{desc_remove}}}" href="#"></a>
{[ } ]}


