<div class="flyout box-flyout">
    <div>
        <div class="chat-head chat-head-chatbox row no-gutters">
            <div class="chatbox-navback"><i class="fa fa-arrow-left"></i></div>
            <div class="chatbox-title">
                <div class="row no-gutter">
                    <div class="col chat-title" title="Service Administration (XEP-0133)">Service Administration (XEP-0133)
                        <p class="user-custom-message"> {{{o.service_admin_header}}}</p>
                    </div>
                </div>
            </div>
            <div class="chatbox-buttons row no-gutters">
                <a class="chatbox-btn close-chatbox-button fa fa-times" title="{{{o.info_close}}}"></a>
            </div>
        </div>
    </div>
    <div class="chat-body">
        <!-- form-elements will be inserted here -->
    </div> 
</div>