<div class="d-flex controlbox-padded">
    <span class="w-100 controlbox-heading controlbox-heading--service-administration">{{{o.label}}}</span>
</div>
<div class="list-container" style="margin-top: 8px; margin-bottom: 2px;">
    <a href="#" class="list-toggle controlbox-padded service-admin-selector" title="{{{o.title}}}">
        <span class="service-admin-selector service-admin-selector-caret fa fa-caret-right"></span>
         Broadcast-Messages
    </a>
    <div class="items-list service-admin-menu collapsed">
        <!-- the diffrent Broadcast-Message-Options will be inserted here (service_admin_option.html)-->
    </div>
</div>