<div class="message chat-message {{{o.extra_classes}}}" data-isodate="{{{o.isodate}}}" data-msgid="{{{o.msgid}}}">
    <span class="chat-msg-author chat-msg-{{{o.sender}}}">{{{o.time}}} {{{o.username}}}:&nbsp;</span>
    <div class="spoiler-hint"><!-- message gets added here via renderMessage --></div>
    <a class="icon-eye toggle-spoiler" data-toggle-state="closed" href="#">{{{o.label_show}}}</a>
    <div class="chat-msg-content spoiler collapsed"><!-- message gets added here via renderMessage --></div>
</div>
