<div class="message chat-msg {{{o.extra_classes}}}" data-isodate="{{{o.time}}}" data-msgid="{{{o.msgid}}}">
    <img alt="User Avatar" class="avatar" height="36px" width="36px" src="data:{{{o.image_type}}};base64,{{{o.image}}}"/>
    <div class="chat-msg-content">
        <span class="chat-msg-heading">
            <span class="chat-msg-author">{{{o.username}}}</span>
            <span class="chat-msg-time">{{{o.pretty_time}}}</span>
        </span>
        <div>
            <span class="spoiler-hint">{{{o.spoiler_hint}}}</span>
            <a class="badge badge-info spoiler-toggle" data-toggle-state="closed" href="#"><i class="fa fa-eye"></i>{{{o.label_show}}}</a>
        </div>
        <div class="chat-msg-text spoiler collapsed"><!-- message gets added here via renderMessage --></div>
    </div>
</div>
