#converse-embedded-chat,
#conversejs:not(.fullscreen) {
    .chat-head {
        border-top-left-radius: $chatbox-border-radius;
        border-top-right-radius: $chatbox-border-radius;
        @media screen and (max-height: $mobile-landscape-height) {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        @media screen and (max-width: $mobile-portrait-length) {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
    .chatbox {
        @include make-col-ready();
        @include media-breakpoint-up(xs) {
            @include make-col(12);
        }
        @include media-breakpoint-up(sm) {
            @include make-col(4);
        }
        @include media-breakpoint-up(md) {
            @include make-col(3);
        }
        @include media-breakpoint-up(lg) {
            @include make-col(2);
        }

        .chat-body {
            .chat-message {
                padding: 0.3em;
                line-height: $line-height-large;
                .chat-msg-author {
                    line-height: $line-height-large;
                }
                .chat-msg-content {
                    line-height: $line-height-large;
                    .emojione {
                        margin-bottom: -5px;
                    }
                }
            }
        }
    }
    .chatbox {
        form.sendXMPPMessage {
            .chat-toolbar {
                li {
                    .toolbar-menu {
                        ul {
                            &.emoji-toolbar {
                                width: 100%;
                                .emoji-category {
                                    float: left;
                                }
                                li {
                                    padding: 2px;
                                }
                            }
                        }
                    }
                    &.toggle-smiley {
                        ul {
                            li {
                                padding: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
	#conversejs:not(.fullscreen) {
		> .row {
			flex-direction: column;

            &.no-gutters {
                margin: -1em;
            }
		}
	}
}
