#converse-embedded-chat,
#conversejs:not(.fullscreen) {
    .chat-head {
        border-top-left-radius: $chatbox-border-radius;
        border-top-right-radius: $chatbox-border-radius;
        @media screen and (max-height: $mobile-landscape-height) {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        @media screen and (max-width: $mobile-portrait-length) {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
    .chatbox {
        min-width: $chat-width!important;
        width: $chat-width;

        .box-flyout {
            min-width: $chat-width!important;
            width: $chat-width;
        }

        .chat-body {
            .chat-message {
                line-height: $line-height-large;
                .chat-msg-author {
                    line-height: $line-height-large;
                }
                .chat-msg-content {
                    line-height: $line-height-large;
                    .emojione {
                        margin-bottom: -5px;
                    }
                }
            }
        }
    }
    .chatbox {
        form.sendXMPPMessage {
            .chat-toolbar {
                li {
                    .toolbar-menu {
                        min-width: 235px;

                        ul {
                            &.emoji-toolbar {
                                width: 100%;
                                .emoji-category {
                                    float: left;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
	#conversejs:not(.converse-fullscreen):not(.converse-embedded) {
		> .row {
			flex-direction: column;

            &.no-gutters {
                margin: -1em;
            }
		}
	}
}
