#conversejs:not(.fullscreen) {
    #controlbox {
        #converse-register {
            .button-cancel {
                font-size: 90%;
            }
        }

        .controlbox-panes {
            border-radius: $chatbox-border-radius;
        }

        .brand-heading-container {
            .brand-heading {
                font-size: 2em;
                margin: 1em 0;
            }
        }
    }
}
