#conversejs {
    #controlbox {
        .controlbox-pane {
            border-bottom-left-radius: $chatbox-border-radius;
            border-bottom-right-radius: $chatbox-border-radius;
            height: 289px;
            @include calc(height, '100% - #{$controlbox-head-height}');
        }
    }
}
