#conversejs:not(.fullscreen) {
    #controlbox {
        order: -1;
        min-width: $controlbox-width !important;
        width: $controlbox-width;
        .box-flyout {
            min-width: $controlbox-width !important;
            width: $controlbox-width;
        }

        &:not(.logged-out) {
            .controlbox-head {
                height: 15px;
            }
        }

        .controlbox-head {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: nowrap;
            justify-content: space-between;


            .brand-heading {
                @include make-col-ready();
                @include make-col(8);
                color: $text-color;
                font-size: 2em;
            }
            .chatbox-btn {
                color: $controlbox-head-color;
                margin: 0;
            }
        }

        #converse-register, #converse-login {
            @include make-col(12);
            padding-bottom: 0;
        }

        #converse-register {
            .button-cancel {
                font-size: 90%;
            }
        }

        .controlbox-panes {
            border-radius: $chatbox-border-radius;
        }
    }
}
