$max-chat-textarea-height: 200px !default;
$emoji-picker-height: 100px !default;

$roster-item-height: 60px !default;

$chat-head-height: 55px !default;

$controlbox-dropdown-height: 25px !default;
$controlbox-head-height: 55px !default;

$chatbox-hover-height: 1em !default;

$font-size-small: 12px !default;
$font-size: 14px !default;
$font-size-large: 16px !default;
$font-size-huge: 20px !default;
$legend-font-size: 16px !default;

$line-height-small:  14px !default;
$line-height:  16px !default;
$line-height-large:  20px !default;

$chat-width: 250px !default;
$chat-height: 450px !default;

$chatroom-width: 400px !default;
