$max-chat-textarea-height: 200px !default;
$emoji-picker-height: 100px !default;

$roster-item-height: 60px !default;

$chat-head-height: 55px !default;

$controlbox-dropdown-height: 25px !default;
$controlbox-head-height: 55px !default;

$chatbox-hover-height: 1em !default;

$chat-width: 250px !default;
$chat-height: 450px !default;
