&[data-converse-theme="classic"],
&[data-bs-theme="classic"] {
    $theme: 'classic' !default;

    // Hex color values
    --blue: #387592;
    --dark-blue: #397491;
    --dark-green: #1e9652;
    --dark-red: #d24e2b;
    --gray: #818479;
    --green: #3aa569;
    --light-blue: #578ea9;
    --lighter-blue: #eff4f7;
    --orange: #e7a151;
    --redder-orange: #e77051;

    // Base variables
    --background-color: white;
    --chat-color: var(--green);
    --controlbox-color: var(--light-blue);
    --danger-color: var(--dark-red); // dark-red
    --foreground-color: #666;
    --headlines-color: var(--orange);
    --info-color: var(--dark-green);
    --link-color: var(--light-blue);
    --muc-color: var(--redder-orange);
    --primary-color: var(--light-blue);
    --secondary-color: #a8aba1;
    --success-color: var(--green);
    --warning-color: var(--orange);

    // Common variables
    --brand-heading-color: var(--blue);
    --chat-head-color-dark: var(--dark-green);
    --chat-head-color-darker: #0e763b;
    --chat-head-color: var(--chat-color);
    --chat-head-fg-color: var(--background-color);
    --chat-head-text-color: var(--background-color);
    --chat-info-color: var(--chatroom-head-bg-color);
    --chat-msg-hover-color: var(--list-item-hover-color);
    --chat-msg-quote-color: var(--secondary-color);
    --chat-textarea-disabled-bg-color: #eee;
    --chat-toolbar-btn-disabled-color: gray;
    --chatbox-message-input-border-top: 4px solid var(--chat-head-color);
    --chatroom-head-bg-color-dark: #d24e2b; // $red
    --chatroom-head-bg-color: var(--muc-color);
    --chatroom-head-button-color: var(--chatroom-head-bg-color);
    --chatroom-head-color: var(--background-color);
    --chatroom-head-description-link-color: var(--background-color);
    --chatroom-head-fg-color: var(--background-color);
    --chatroom-head-title-font-weight: normal;
    --chatroom-head-title-padding-right: 0px;
    --chatroom-message-input-border-top: 4px solid var(--chatroom-head-bg-color);
    --completion-dark-color: #d24e2b; // $dark-red
    --completion-light-color: #ffb9a7; // $lightest-red
    --completion-normal-color: var(--muc-color);
    --controlbox-head-color: var(--controlbox-color);
    --controlbox-heading-top-margin: 0.75em;
    --controlbox-pane-bg-hover-color: #eff4f7;
    --danger-color-dark: #a93415; // darker red
    --dark-link-color: #206485; // $dark-blue
    --disabled-color: gray;
    --error-color: var(--dark-red);
    --focus-color: var(--dark-link-color);
    --global-background-color: var(--dark-blue);
    --groupchats-header-color-dark: var(--chatroom-head-bg-color-dark);
    --groupchats-header-color: var(--chatroom-head-bg-color);
    --header-color: var(--foreground-color);
    --heading-color: var(--background-color);
    --headline-message-color: #d2842b;
    --headlines-head-bg-color: var(--headlines-color);
    --headlines-head-fg-color: var(--background-color);
    --headlines-head-text-color: var(--background-color);
    --highlight-color-darker: #b0e8e2;
    --highlight-color: #dcf9f6;
    --icon-hover-color: var(--text-color);
    --img-thumbnail-background-color: var(--background-color);
    --img-thumbnail-border-color: #dee2e6;
    --inverse-link-color: var(--background-color);
    --link-hover-color: #345566;
    --list-dot-circle-color: #f6dec1; // lighten($orange, 25%)
    --list-group-item-bg-color: var(--background-color);
    --list-item-action-color: #e3eef3; // lighten($lightest-blue, 25%)
    --list-item-action-hover-color: var(--inverse-link-color);
    --list-item-hover-color: rgba(0, 0, 0, 0.035);
    --list-item-link-color: inherit;
    --list-item-link-hover-color: var(--dark-link-color);
    --list-item-open-color: var(--controlbox-color);
    --list-item-open-hover-color: var(--controlbox-color);
    --list-toggle-color: var(--gray);
    --list-toggle-hover-color: #585b51;
    --message-author-color: var(--text-color);
    --message-text-color: #555;
    --muc-toolbar-btn-disabled-color: gray;
    --occupants-border-left: 0.2rem solid var(--panel-divider-color);
    --panel-divider-color: #e7e7e7;
    --primary-color-dark: var(--dark-blue);
    --primary-color-light: var(--lighter-blue);
    --secondary-color-dark: #585b51;
    --text-shadow-color: #fafafa;
    --unread-msgs-color: var(--orange);
    --warning-color-dark: #d2842b;
}
