// https://bootswatch.com/vapor

&[data-converse-theme="cyberpunk"],
&[data-bs-theme="cyberpunk"] {
    $theme: 'vapor' !default;

    // Hex color values
    --blue: #1ba2f6;
    --cyan: #32fbe2;
    --green: #3cf281;
    --indigo: #6610f2;
    --orange: #f1b633;
    --pink: #ea39b8;
    --purple: #6f42c1;
    --red: #e44c55;
    --teal: #3f81a2;
    --white: #fff;
    --yellow: #ffc107;

    // Base variables
    --background-color: #1a0933;
    --chat-color: var(--green);
    --controlbox-color: var(--purple);
    --danger-color: var(--red);
    --foreground-color: var(--white);
    --headlines-color: var(--pink);
    --info-color: var(--yellow);
    --link-color: var(--cyan);
    --muc-color: var(--orange);
    --primary-color: var(--purple);
    --secondary-color: var(--pink);
    --success-color: var(--green);
    --warning-color: var(--orange);

    // Common variables
    --background-hover: rgb(48, 17, 94);
    --brand-heading-color: var(--cyan);
    --chat-head-color-dark: var(--chat-color);
    --chat-head-color-darker: var(--chat-color);
    --chat-head-color: var(--background-color);
    --chat-head-fg-color: var(--chat-color);
    --chat-head-text-color: var(--chat-color);
    --chat-info-color: var(--orange);
    --chat-msg-hover-color: var(--background-hover);
    --chat-msg-quote-color: var(--pink);
    --chat-textarea-disabled-bg-color: var(--disabled-color);
    --chatbox-message-input-border-top: 0.15em solid var(--chat-color);
    --chatroom-head-bg-color-dark: var(--muc-color);
    --chatroom-head-bg-color: var(--background-color);
    --chatroom-head-color: var(--muc-color);
    --chatroom-head-description-link-color: var(--link-color);
    --chatroom-head-fg-color: var(--muc-color);
    --chatroom-message-input-border-top: 0.15em solid var(--muc-color);
    --close-color-hover: var(--purple);
    --completion-dark-color: var(--current-line);
    --completion-light-color: var(--pink);
    --completion-normal-color: var(--red);
    --completion-normal-color: var(--muc-color);
    --controlbox-head-color: var(--controlbox-color);
    --controlbox-heading-top-margin: 0.75em;
    --controlbox-pane-bg-hover-color: var(--list-item-hover-color);
    --current-line: var(--primary-color);
    --danger-color-dark: var(--pink);
    --dark-link-color: var(--cyan);
    --disabled-color: var(--secondary-color);
    --error-color: var(--red);
    --focus-color: var(--secondary-color);
    --global-background-color: var(--background-color);
    --gray-color: var(--current-line);
    --groupchats-header-color-dark: var(--muc-color);
    --groupchats-header-color: var(--muc-color);
    --header-color: var(--pink);
    --heading-color: var(--purple);
    --headline-message-color: var(--headlines-color);
    --headlines-head-bg-color: var(--background-color);
    --headlines-head-border-bottom: 0.15em solid var(--headlines-color);
    --headlines-head-fg-color: var(--headlines-color);
    --headlines-head-text-color: var(--headlines-color);
    --highlight-color-darker: var(--secondary-color);
    --highlight-color: var(--background-color);
    --icon-hover-color: var(--cyan);
    --img-thumbnail-background-color: var(--secondary-color);
    --img-thumbnail-border-color: black;
    --inverse-link-color: var(--foreground-color);
    --link-hover-color: var(--green);
    --list-dot-circle-color: var(--orange);
    --list-group-item-bg-color: var(--secondary-color);
    --list-item-action-color: var(--secondary-color);
    --list-item-action-hover-color: var(--cyan);
    --list-item-hover-color: var(--current-line);
    --list-item-link-color: var(--foreground-color);
    --list-item-link-hover-color: var(--link-color);
    --list-item-open-color: var(--current-line);
    --list-item-open-hover-color: var(--current-line);
    --list-toggle-color: var(--secondary-color);
    --list-toggle-hover-color: var(--secondary-color);
    --message-author-color: var(--cyan);
    --message-text-color: var(--foreground-color);
    --muc-toolbar-btn-disabled-color: var(--disabled-color);
    --occupants-border-left: 0.15em solid var(--muc-color);
    --panel-divider-color: var(--secondary-color);
    --primary-color-dark: var(--purple);
    --secondary-color-dark: var(--secondary-color);
    --unread-msgs-color: var(--yellow);
    --warning-color-dark: var(--orange);

    .card {
        --converse-card-border-color: var(--secondary-color);
    }

    #controlbox {
        .flyout {
            box-shadow:
                0 0 1rem 0rem rgba(234, 57, 184, 0.5) inset,
                0 0 2rem 0rem rgba(234, 57, 184, 0.2) inset,
                0 0 4rem 2rem rgba(234, 57, 184, 0.1) inset !important;
        }
    }

    .modal-header {
        .btn-close {
            background-color: var(--header-color);
        }
    }

    .message .separator-text {
        border-radius: 50px;
        box-shadow:
            0 0 0.25rem rgba(60, 242, 129, 0.8),
            0 0 1rem rgba(60, 242, 129, 0.2),
            0 0 4rem rgba(60, 242, 129, 0.1) !important;
    }

    .card {
        box-shadow:
            inset 0 0 0.5rem rgba(234, 57, 184, 0.8),
            inset 0 0 1rem rgba(234, 57, 184, 0.4),
            inset 0 0 2rem rgba(234, 57, 184, 0.3),
            inset 0 0 4rem rgba(234, 57, 184, 0.1) !important;
    }

    .chat-toolbar {
        box-shadow:
            0 0 0.5rem rgba(60, 242, 129, 0.4),
            0 0 2rem rgba(60, 242, 129, 0.2),
            0 0 4rem rgba(60, 242, 129, 0.1) !important;
    }

    .chat-head-chatbox {
        box-shadow:
            0 0 1rem 0rem rgba(60, 242, 129, 0.5) inset,
            0 0 2rem 0rem rgba(60, 242, 129, 0.4) inset,
            0 0 4rem 2rem rgba(60, 242, 129, 0.2) inset,
            0 0 1rem 0rem rgba(60, 242, 129, 0.4),
            0 0 2rem 0rem rgba(60, 242, 129, 0.2),
            0 0 4rem 0rem rgba(60, 242, 129, 0.1) !important;
    }

    .chatroom {
        .message .separator-text {
            border-radius: 50px;
            box-shadow:
                0 0 0.25rem rgba(255, 193, 7, 0.8),
                0 0 1rem rgba(255, 193, 7, 0.2),
                0 0 4rem rgba(255, 193, 7, 0.1) !important;
        }

        .chat-head-chatroom {
            box-shadow:
                0 0 1rem 0rem rgba(255, 193, 7, 0.5) inset,
                0 0 2rem 0rem rgba(255, 193, 7, 0.4) inset,
                0 0 4rem 2rem rgba(255, 193, 7, 0.2) inset,
                0 0 1rem 0rem rgba(255, 193, 7, 0.4),
                0 0 2rem 0rem rgba(255, 193, 7, 0.2),
                0 0 4rem 0rem rgba(255, 193, 7, 0.1) !important;
        }

        converse-muc-sidebar {
            box-shadow: 0 0 1rem 1rem rgba(255, 193, 7, 0.1) inset !important;
        }

        .chat-toolbar {
            box-shadow:
                0 0 0.5rem rgba(255, 193, 7, 0.4),
                0 0 2rem rgba(255, 193, 7, 0.2),
                0 0 4rem rgba(255, 193, 7, 0.1) !important;
        }
    }

    .moving-grid {
        position: absolute;
        top: 42%;
        left: 0;
        width: 100%;
        height: 70%;
        perspective: 1000px;
        &:before {
            content: '';
            position: absolute;
            top: 4rem;
            width: 100%;
            height: 0;
            box-shadow:
                0 0 1rem 0.5rem rgba(255, 255, 255, 0.5),
                0 0 2rem 0rem rgba(234, 57, 184, 0.3),
                0 0 4rem 2rem rgba(234, 57, 184, 0.1) !important;
        }
        .container {
            position: relative;
            width: 100%;
            height: 300%;
            border: 2px solid pink;
            box-sizing: border-box;
            transform-origin: top;
            transform: rotateX(57deg) translateY(10%);
            overflow: hidden;
            .static-lines {
                display: inline-block;
                width: 100%;
                height: 100%;
                .vert {
                    display: inline-block;
                    height: 100%;
                    width: 2px;
                    background-color: pink;
                    margin-left: 4.5%;
                    box-shadow: 0 2px 21px pink;
                }
            }
            .moving-lines {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 300%;
                .horz {
                    display: inline-block;
                    width: 100%;
                    height: 3px;
                    margin-top: 4.8%;
                    background-color: pink;
                    box-shadow: 2px 0 21px pink;
                    animation: lines 15000ms linear infinite;
                }
            }
        }
    }

    @keyframes lines {
        from {
            transform: translateY(-65px);
        }
        to {
            transform: translateY(65px);
        }
    }
}
