&[data-converse-theme="dracula"],
&[data-bs-theme="dracula"] {
    $theme: 'dracula' !default;

    // Hex color values
    --cyan: #8be9fd;
    --green: #50fa7b;
    --orange: #ffb86c;
    --pink: #ff79c6;
    --purple: #bd93f9;
    --red: #ff5555;
    --yellow: #f1fa8c;

    // Base variables
    --background-color: #282a36;
    --chat-color: var(--green);
    --controlbox-color: var(--purple);
    --danger-color: var(--pink);
    --foreground-color: #f8f8f2;
    --headlines-color: var(--pink);
    --info-color: var(--yellow);
    --link-color: var(--cyan);
    --muc-color: var(--orange);
    --primary-color: var(--purple);
    --secondary-color: #6272a4;
    --success-color: var(--green);
    --warning-color: var(--orange);

    // Common variables
    --brand-heading-color: var(--cyan);
    --chat-head-color-dark: var(--chat-color);
    --chat-head-color-darker: var(--chat-color);
    --chat-head-color: var(--background-color);
    --chat-head-fg-color: var(--chat-color);
    --chat-head-text-color: var(--chat-color);
    --chat-info-color: var(--orange);
    --chat-msg-hover-color: var(--current-line);
    --chat-msg-quote-color: var(--heading-color);
    --chat-textarea-disabled-bg-color: var(--disabled-color);
    --chatbox-message-input-border-top: 0.15em solid var(--chat-color);
    --chatroom-head-bg-color-dark: var(--muc-color);
    --chatroom-head-bg-color: var(--background-color);
    --chatroom-head-color: var(--muc-color);
    --chatroom-head-description-link-color: var(--link-color);
    --chatroom-head-fg-color: var(--muc-color);
    --chatroom-message-input-border-top: 0.15em solid var(--muc-color);
    --close-color-hover: var(--purple);
    --completion-dark-color: var(--current-line);
    --completion-light-color: var(--pink);
    --completion-normal-color: var(--red);
    --controlbox-head-color: var(--controlbox-color);
    --controlbox-pane-bg-hover-color: var(--list-item-hover-color);
    --current-line: #44475a;
    --danger-color-dark: var(--pink);
    --dark-link-color: var(--cyan);
    --disabled-color: var(--secondary-color);
    --error-color: var(--red);
    --focus-color: var(--pink);
    --global-background-color: var(--background-color);
    --gray-color: var(--current-line);
    --groupchats-header-color-dark: var(--muc-color);
    --groupchats-header-color: var(--muc-color);
    --header-color: var(--pink);
    --heading-color: var(--purple);
    --headline-message-color: var(--headlines-color);
    --headlines-head-bg-color: var(--background-color);
    --headlines-head-border-bottom: 0.15em solid var(--headlines-color);
    --headlines-head-fg-color: var(--headlines-color);
    --headlines-head-text-color: var(--headlines-color);
    --highlight-color-darker: var(--secondary-color);
    --highlight-color: var(--background-color);
    --icon-hover-color: var(--cyan);
    --img-thumbnail-background-color: var(--secondary-color);
    --img-thumbnail-border-color: black;
    --inverse-link-color: var(--foreground-color);
    --link-hover-color: var(--green);
    --list-dot-circle-color: var(--orange);
    --list-group-item-bg-color: var(--secondary-color);
    --list-item-action-color: var(--secondary-color);
    --list-item-action-hover-color: var(--cyan);
    --list-item-hover-color: var(--current-line);
    --list-item-link-color: var(--foreground-color);
    --list-item-link-hover-color: var(--link-color);
    --list-item-open-color: var(--current-line);
    --list-item-open-hover-color: var(--current-line);
    --list-toggle-color: var(--secondary-color);
    --list-toggle-hover-color: var(--secondary-color);
    --message-author-color: var(--purple);
    --message-text-color: var(--foreground-color);
    --muc-toolbar-btn-disabled-color: var(--disabled-color);
    --occupants-border-left: 0.15em solid var(--muc-color);
    --panel-divider-color: var(--secondary-color);
    --primary-color-dark: var(--purple);
    --primary-color-light: var(--pink);
    --unread-msgs-color: var(--yellow);
    --warning-color-dark: var(--orange);

    .card {
        --converse-card-border-color: var(--secondary-color);
    }
}
