.conversejs {
    .modal-body {
        .row {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .occupant-details {
        li {
            margin-bottom: 1em;
        }
    }
}
