@import "bootstrap/scss/mixins";

@mixin fade-in {
    opacity: 0;  /* make things invisible upon start */
    animation-name: fadein;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}
