.conversejs {
    .modal-alert {
        .alert {
            p {
                margin: 0;
            }
        }
    }

    .alert-info,
    .alert-danger {
        h3 {
            color: var(--background-color);
            font-size: large;
        }

        p {
            color: var(--background-color) !important;
        }

        .modal-title {
            font-size: 110%;
        }

        .close {
            color: var(--background-color);
        }
    }

    .alert-info {
        color: var(--background-color);
        background-color: var(--info-color);
        border-color: color-mix(in srgb, var(--info-color) 65%, var(--background-color));
    }

    .alert-danger {
        .disconnect-msg {
            color: var(--background-color) !important;
        }

        color: var(--background-color);
        border-color: color-mix(in srgb, var(--danger-color) 65%, var(--background-color));
        background-color: var(--danger-color);
    }
}
