.conversejs {
    .btn {
        &.fa {
            color: var(--button-text-color) !important;
        }
        i {
            &.fa, &.far, &.fas {
                color: var(--button-text-color);
                margin-right: 0.5em;
                &.only-icon {
                    margin-right: 0;
                }
            }
        }
        converse-icon {
            display: inline-block;
            margin-right: 0;
            svg {
                color: var(--button-text-color);
            }
        }
    }

    .btn-primary,
	.btn-outline-primary {
		--converse-btn-color: var(--button-text-color);
		--converse-btn-bg: var(--primary);
		--converse-btn-disabled-bg: var(--disabled-color);
		--converse-btn-border-color: var(--primary);
		--converse-btn-hover-bg: var(--primary);
		--converse-btn-hover-border-color: var(--primary-color-dark);
		--converse-btn-active-bg: var(--primary);
		--converse-btn-active-border-color: var(--primary);
		--converse-btn-disabled-color: var(--primary);
		--converse-btn-disabled-border-color: var(--primary);
	}

    .btn-secondary,
	.btn-outline-secondary {
		--converse-btn-color: var(--button-text-color);
		--converse-btn-bg: var(--secondary);
		--converse-btn-disabled-bg: var(--disabled-color);
		--converse-btn-border-color: var(--secondary);
		--converse-btn-hover-bg: var(--secondary);
		--converse-btn-hover-border-color: var(--secondary-color-dark);
		--converse-btn-active-bg: var(--secondary);
		--converse-btn-active-border-color: var(--secondary);
		--converse-btn-disabled-color: var(--secondary);
		--converse-btn-disabled-border-color: var(--secondary);
	}

    .btn-success,
	.btn-outline-success {
		--converse-btn-color: var(--button-text-color);
		--converse-btn-bg: var(--success);
		--converse-btn-disabled-bg: var(--disabled-color);
		--converse-btn-border-color: var(--success);
		--converse-btn-hover-bg: var(--success-color-dark);
		--converse-btn-hover-border-color: var(--success-color-dark);
		--converse-btn-active-bg: var(--success);
		--converse-btn-active-border-color: var(--success);
		--converse-btn-disabled-color: var(--success);
		--converse-btn-disabled-border-color: var(--success);
	}

    .btn-warning,
	.btn-outline-warning {
		--converse-btn-color: var(--button-text-color);
		--converse-btn-bg: var(--warning);
		--converse-btn-disabled-bg: var(--disabled-color);
		--converse-btn-border-color: var(--warning);
		--converse-btn-hover-bg: var(--warning-color-dark);
		--converse-btn-hover-border-color: var(--warning-color-dark);
		--converse-btn-active-bg: var(--warning);
		--converse-btn-active-border-color: var(--warning);
		--converse-btn-disabled-color: var(--warning);
		--converse-btn-disabled-border-color: var(--warning);
	}

    .btn-danger,
	.btn-outline-danger {
		--converse-btn-color: var(--button-text-color);
		--converse-btn-bg: var(--danger);
		--converse-btn-disabled-bg: var(--disabled-color);
		--converse-btn-border-color: var(--danger);
		--converse-btn-hover-bg: var(--danger-color-dark);
		--converse-btn-hover-border-color: var(--danger-color-dark);
		--converse-btn-active-bg: var(--danger);
		--converse-btn-active-border-color: var(--danger);
		--converse-btn-disabled-color: var(--danger);
		--converse-btn-disabled-border-color: var(--danger);
	}

    .btn-info,
	.btn-outline-info {
		--converse-btn-color: var(--button-text-color);
		--converse-btn-bg: var(--info);
		--converse-btn-disabled-bg: var(--disabled-color);
		--converse-btn-border-color: var(--info);
		--converse-btn-hover-bg: var(--info-color-dark);
		--converse-btn-hover-border-color: var(--info-color-dark);
		--converse-btn-active-bg: var(--info);
		--converse-btn-active-border-color: var(--info);
		--converse-btn-disabled-color: var(--info);
		--converse-btn-disabled-border-color: var(--info);
	}

    .btn--transparent {
        background: transparent;
        border: none;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 0.5em 0;
        font-size: var(--font-size-small);
        line-height: 1.428571429;
        border-radius: 50%;
    }
}
