.conversejs {
    @import "bootstrap/scss/forms";
    @import "bootstrap/scss/input-group";
    @import "bootstrap/scss/custom-forms";

    .btn--small {
        font-size: 80%;
        font-weight: normal;
    }

    form {
        .hidden-username {
            opacity: 0 !important;
            height: 0 !important;
            padding: 0 !important;
        }
        .error-feedback {
            margin-bottom: 0.5em;
        }
        .form-check-label {
            margin-top: $form-check-input-margin-y;
        }

        .form-control {
            color: var(--text-color);
            background-color: var(--background);
            &:focus {
                color: var(--text-color);
                background-color: var(--comment);
            }

            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: var(--subdued-color);
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color: var(--subdued-color);
            }
            &:-ms-input-placeholder { /* IE 10+ */
                color: var(--subdued-color);
            }
            &:-moz-placeholder { /* Firefox 18- */
                color: var(--subdued-color);
            }
            &::placeholder {
                color: var(--subdued-color);
            }
        }

        .form-control--labeled {
            margin-top: 0.5em;
        }

        .clear-input {
            margin-top: 0.5em;
            margin-bottom : 0.5em;
            position: absolute;
            right: 0.2em;
            cursor: pointer;
            font-size: var(--font-size);
        }

        &#converse-register,
        &#converse-login {
            background: var(--controlbox-pane-background-color);
            legend {
                width: 100%;
                text-align: center;
                margin: 0 auto 0.5em auto;
            }
            fieldset.buttons {
                text-align: center;
            }
            .login-anon {
                height: auto;
                white-space: normal;
            }
            .save-submit {
                color: var(--save-button-color);
            }
            .form-url {
                display: block;
                font-weight: normal;
                margin: 1em 0;
            }

        }


        &.converse-form {
            padding: 1.2rem;
            legend {
                color: var(--text-color);
                font-size: 125%;
                margin-bottom: 1.5em;
            }
            select,
            input[type=password],
            input[type=number],
            input[type=text] {
                min-width: 50%;
            }
            input[type=text],
            input[type=password],
            input[type=number],
            input[type=button],
            input[type=submit] {
                padding: 0.5em;
            }
            input[type=button],
            input[type=submit] {
                padding-left: 1em;
                padding-right: 1em;
                border: none;
            }
            input.error {
                border: 1px solid var(--error-color);
                color: var(--text-color);
            }
            .text-muted {
                color: var(--subdued-color) !important;
                font-size: 85%;
                padding-top: 0.5em;
                a {
                    color: var(--link-color-lighten-10-percent);
                }
                &.error {
                    color: var(--error-color);
                }
            }
        }

        &.converse-form--modal {
            padding-bottom: 0;
        }

        &.converse-form--spinner {
            height: 100%;
        }

        &.converse-centered-form {
            min-height: 66%;
            text-align: center;
            input {
                max-width: 30em;
                margin: auto;
            }
        }
    }
}
