.conversejs {
    @import "bootstrap/scss/list-group";

    .list-group-item {
        &.active {
            background-color: var(--primary-color);
            border-color: var(--primary-color-dark);
        }

        background-color: var(--comment);
    }

    .list-container {
        text-align: left;
        padding: 0.3em 0;

        .list-toggle {
            font-family: var(--heading-font);
            font-weight: var(--list-toggle-font-weight);
            display: block;
            color: var(--list-toggle-color);
            padding: 0 0 0.5rem 0;
            &:hover {
                color: var(--list-toggle-hover-color);
            }
        }
    }

    .items-list {
        text-align: left;

        .list-item {
            border: none;
            clear: both;
            color: var(--text-color);
            overflow: hidden;
            padding: 0.5em 0;
            text-shadow: 0 1px 0 var(--text-shadow-color);
            word-wrap: break-word;
            height: 2.5em;

            &.unread-msgs {
                font-weight: bold;
            }

            &:hover {
                .list-item-link {
                    color: var(--list-item-link-hover-color);
                }
            }

            .list-item-link {
                color: var(--list-item-link-color);
                &:hover {
                    color: var(--list-item-link-hover-color);
                }
                margin: auto;
                font-size: var(--font-size);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                vertical-align: baseline;
            }

            .list-item-badge {
                opacity: 1;
                border-radius: 25%;
                color: white;
                font-size: var(--font-size-small);
                line-height: var(--font-size-small);
            }

            .list-item-action {
                opacity: 0;
                font-size: var(--font-size-tiny);
                padding: 0.3em 0 0 0;
                margin: 0 0 0 var(--inline-action-margin);
                width: 2em;
                height: 2em;
                &:before {
                    font-size: var(--font-size);
                }
                &.button-on {
                    color: var(--list-item-link-color);
                    &:hover {
                        color: var(--list-item-link-hover-color);
                    }
                }
                color: var(--subdued-color);
                &:hover {
                    color: var(--list-toggle-hover-color);
                    opacity: 1;
                }
            }

            .list-item-action--visible {
                opacity: 1 !important;
            }

            &.open {
                &:hover {
                    .list-item-link {
                        color: var(--inverse-link-color);
                        &:hover {
                            color: var(--inverse-link-color);
                        }
                    }
                }

                background-color: var(--list-item-open-color);
                &:hover {
                    background-color: var(--list-item-open-hover-color);
                }
                a {
                    color: var(--inverse-link-color);
                }
                .list-item-action {
                    color: var(--list-item-action-color);
                    &:hover {
                        color: var(--list-item-action-hover-color);
                    }
                }
            }

            &:hover {
                background-color: var(--controlbox-pane-bg-hover-color);
                .fa, .far, .fas {
                    opacity: 1;
                }
            }
        }
    }
}
