@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/input-group";
@import "bootstrap/scss/custom-forms";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/media";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/utilities";

@mixin fade-in {
    opacity: 0;  /* make things invisible upon start */
    animation-name: fadein;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease;
}

.fade-in {
    @include fade-in;
}

html {
    width: 100%;
    height: 100%;
}

body {
    webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 100%;
    font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    background-color: #211018;
}

::-moz-selection,
::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2);
}
img::selection,
img::-moz-selection {
    background: transparent;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 35px;
    font-family: 'Muli', sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media (min-width: 767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #82B397;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    &:hover, &:focus {
        text-decoration: none;
        color: #00aaff;
    }
}

.hidden {
    display: none !important;
}

#about {
    p {
        opacity: 0.9;
    }
}

.light {
    font-weight: 400;
}

.navbar {
    font-family: 'Muli', sans-serif;
    margin-bottom: 0;
	background: transparent;
    font-size: 95%;
    font-weight: normal;

	.navbar-collapse {
		justify-content: space-between;
	}
	a {
		color: white;
	}
}

.pricing-table {
    p {
        margin-bottom: 0;
        padding-bottom: 0;
        color: darkgrey;
        font-size: 95%;
    }
}

.navbar-brand {
    &:focus {
        outline: none;
    }
}
.navbar-custom {
    a {
        color: #ffffff;
    }
}

.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
}
.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #ffffff;
}
.navbar-toggle:focus,
.navbar-toggle:active {
    outline: none;
}
@media (min-width: 767px) {
    .navbar {
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }
    .top-nav-collapse {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #211018;
    }
    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
}
@media (max-width: 480px) {
    .navbar {
        display: none;
    }
}

.features-section,
.outro,
.intro {
    width: 100%;
    padding: 100px 0;
    text-align: center;
    color: #fff;
}
.intro {
    margin-top: -4em;
    height: calc(100vh + 4em);
    background: url(/images/header.jpg) no-repeat bottom center scroll;
    background-color: #211018;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.features-section {
    background: url('/images/bgtr.svg') top right no-repeat, url('/images/bgbl.svg') bottom left no-repeat, url('/images/bgbl.svg') bottom left no-repeat, url('/images/overlay.png'), linear-gradient(45deg, #85505f, #384955, #655361);
}
.features-section a {
    color: #82B397;
}
.outro {
    background: url('/images/bgtr.svg') top right no-repeat, url('/images/bgbl.svg') bottom left no-repeat, url('/images/overlay.png'), linear-gradient(45deg, #384955, #655361, #85505f);
}

section {
    h2 {
        color: #E7A151;
    }
    h3 {
        color: #89B7CD;
    }
    h4 {
        color: #5CBC86;
        font-size: 1.5em;
    }
}

.brand-heading {
    display: inline-flex;
    align-items: center;
    font-family: 'Baumans', cursive;
    font-size: 6em;
    margin-top: 2em;
    margin-bottom: 0.5em;
    color: white;

    .byline {
        font-family: 'Muli', sans-serif;
        font-size: 20px;
        opacity: 0.5;
        margin-bottom: 2em;
        margin-left: -75px;
    }

    .subdued {
        opacity: 0.15;
        font-size: 95%;
        word-spacing: 50px;
    }

    .converse-svg-logo {
        height: 1.2em;
        margin-right: 0.25em;
        margin-bottom: 0.1em;
        .cls-1 {
            isolation: isolate;
        }
        .cls-2 {
            opacity: 0.5;
            mix-blend-mode: multiply;
        }
        .cls-3{
            fill: white;
        }
        .cls-4{
            fill: white;
        }
    }
}

@include media-breakpoint-down(sm) {
    .banner-social-buttons {
        display: none;
    }

    .chatroom-name {
        font-size: 16px;
    }

    .brand-heading {
        flex-direction: column;
        font-size: 4em;
        margin-top: 1em;

        .byline {
            margin: auto;
        }
    }
}

.brand-heading__text {
    font-size: 0.9em;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.brand-heading-embedded {
    margin-top: 1.5em;
}
@media (min-width: 767px) {
  .intro {
    padding: 0;
  }
}

.intro-text {
    font-size: 1.1em;
    opacity: 0.8;
    margin-bottom: 0;
    padding-bottom: 1em;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #ffffff;
    border-radius: 35px;
    font-size: 40px;
    color: #ffffff;
    background: transparent;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
    outline: none;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
}
.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}
.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.nav-item {
	&.active {
		a {
			color: #E7A151 !important;
		}
	}
}

.content-section {
    padding-top: 100px;
    padding-top: 100px;
    min-height: 100vh;

    &.account-hosting {
        font-size: 80%;
    }

    .privacy-policy {
        padding-top: 2em;
        h4 {
            padding: 0;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            font-size: 2em;
        }
        p {
            font-size: 1.2em;
            padding-bottom: 0;
            margin-bottom: 1em;
        }
    }
}
.donate-section {
    width: 100%;
    padding: 50px 0;
    color: #ffffff;
    background-color: #211018;
}
.donate-section p.bitcoin-header {
    margin: 0 0 5px;
}
@media (min-width: 767px) {
    .content-section {
        padding-bottom: 50px;
    }
    .donate-section {
        padding: 100px 0;
    }
}
.btn {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn-default {
    border: 1px solid #89B7CD;
    color: #89B7CD;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #82B397;
    outline: none;
    color: #211018;
    background-color: #89B7CD;
}
.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    padding-top: 3em;
    a {
        padding: 0.15em;
        i {
            font-size: 115%;
        }
    }
}

ul.contact,
ul.integration,
ul.screencasts,
ul.features {
    text-align: left;
    font-size: 19px;
}
.feature-icon {
    display: inline-block;
    position: relative;
    padding-bottom: 5em;
    margin-bottom: 2.75em;
    cursor: default;
    color: #fff;
}
.feature-icon .fa {
    display: inline-block;
    width: 2em;
    height: 2em;
    font-size: 4em;
    border-radius: 100%;
    box-shadow: inset 0 0 0 1px white;
    color: white;
    line-height: 2.1em;
}
.feature-icon:before {
    content: '';
    background: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -0.325em;
    width: 0.65em;
    height: 0.65em;
    display: block;
    border-radius: 100%;
}
.feature-icon:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0.65em;
    width: 1px;
    height: 4.35em;
    background: white;
    margin-left: -0.5px;
}
.row {
    margin-left: 0;
    margin-right: 0;
}

.mastodon {
    width: 3.6em;
    height: 3.6em;
    margin-top: 0.6em;
}

.sponsors {
    clear: both;
    font-size: 1.4em;
    padding: 0 0 4em 0;
    ul {
        columns: 2;
        padding: 0;
    }
}
.sponsors h2 {
    text-align: center;
}
.sponsors ul {
    margin: 0 0 1em 0;
}
.sponsors ul li {
    margin: 1em 0;
    list-style: none;
}
.sponsors-text {
    text-align: left;
    padding: 0 0 1em 0;
}
