/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	/* Forms */

		form
		{
		}

			form .select
			{
			}

					form .select:before
					{
						display: none;
					}

/*********************************************************************************/
/* Main Sections                                                                 */
/*********************************************************************************/

	.main
	{
	}

		.main > .content
		{
		}

		.main > .content.style1
		{
			background:	url('../images/bgtr.svg') top right no-repeat,
						url('../images/bgbl.svg') bottom left no-repeat,
						url('../images/bgbl.svg') bottom left no-repeat,
						url('../images/overlay.png'),
						url('images/content-style1.svg');
		}

		.main > .content.style2
		{
			background:	url('../images/bgtr.svg') top right no-repeat,
						url('../images/bgbl.svg') bottom left no-repeat,
						url('../images/bgbl.svg') bottom left no-repeat,
						url('../images/overlay.png'),
						url('images/content-style2.svg');
		}

		.main > .content.style3
		{
			background:	url('../images/bgtr.svg') top right no-repeat,
						url('../images/bgbl.svg') bottom left no-repeat,
						url('../images/bgbl.svg') bottom left no-repeat,
						url('../images/overlay.png'),
						url('images/content-style3.svg');
		}