@import url("default.css");
@import url(pygment_trac.css);

body {
    margin: 1em;
}

body,
header,
div.body,
div.document {
    background-color: white;
}

header {
    margin: 1em;
}

header h1#project_title {
    color: black;
    font-size: 44px;
}

header h1#project_title a {
    color: black;
}

div.body h1, 
div.body h2, 
div.body h3, 
div.body h4, 
div.body h5, 
div.body h6 {
    background-color: transparent;
    border-bottom: 0;
}

h1#project_title a {
    color: white;
}

h1 a {
    color: #0069ba;
}

ul {
    margin-bottom: 5px;
}

tt.literal {
    color: #222;
    background-color: #fff;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: 14px;
}