body {
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 50px;
}

h4 {
    font-weight: bold;
}

h5 {
    font-size: 16px;
    font-weight: bold;
}

.toctree-l1 > a {
    font-size: 110%;
    font-weight: bold;
}

.navbar-brand {
    padding-top: 7px;
}
.navbar-brand img {
    float: left;
    margin-right: 0.5em;
}

.nav-header {
    font-weight: bold;
    font-size: 110%;
}

.sidebar-title {
    padding-left: 15px;
    color: #716b7a;
}

.sponsors-list {
    overflow-y: auto !important;
    overflow-x: hidden;
}

.bs-sidenav .sponsors-list li a:hover {
    background-color: transparent;
    border: none;
}

.sponsors-list li {
    padding: 0.5em 0;
}

.sponsors-list li a {
    background-color: transparent;
    text-align: center;
}

.centered-text-container {
    display: block;
    width: 100%;
    text-align: center;
}

.patreon-link-container {
    margin: 0.5em 0 1em 0;
    padding: 0;
}

.patreon-link-container a {
    font-size: 85%;
}

#sidebar > .nav-list {
    max-height: 35vh;
    overflow-y: auto;
}

.bs-sidenav .nav .nav > li > a {
    font-size: 100%;
}
.bs-sidenav .nav .nav .nav > li > a {
    font-size: 90%;
    color: gray;
}

/*
Copyright (c) 2012 Terrence Ryan

Permission is hereby granted, free of charge, to any person obtaining a copy of this
software and associated documentation files (the "Software"), to deal in the Software
without restriction, including without limitation the rights to use, copy, modify,
merge, publish, distribute, sublicense, and/or sell copies of the Software, and to
permit persons to whom the Software is furnished to do so, subject to the following
conditions:

The above copyright notice and this permission notice shall be included in all copies
or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE
OR OTHER DEALINGS IN THE SOFTWARE.
*/

#banner {
  height: 149px;
  width: 149px;
  overflow:hidden;
  padding: 0;
  margin: 0;
  float: right;
}

#banner a {
  display: block;
  width: 235px;
  font-size: 14px;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT",
    "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma,
    Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
  background-color: #333;
  color: #FFF;
  word-spacing: 2px;
  text-decoration: none;
  padding: 5px 15px 5px 25px;

  position:relative;
  left: 20px;
  top: -33px;
  text-align: center;

  -moz-transform-origin: 0 0 ;
  -moz-transform:rotate(45deg);
  -moz-box-shadow:    1px 1px 5px 1px #666;

  -webkit-transform-origin: 0 0 ;
  -webkit-transform:rotate(45deg);
  -webkit-box-shadow: 1px 1px 5px 1px #666;

  -ms-transform-origin: 0 0 ;
  -ms-transform:rotate(45deg);
  -ms-box-shadow: 1px 1px 5px 1px #666;

  transform-origin: 0 0 ;
  transform:rotate(45deg);
  box-shadow: 1px 1px 5px 1px #666;

  background-image: linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
  background-image: -o-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
  background-image: -moz-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
  background-image: -webkit-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
  background-image: -ms-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.03, #000000),
    color-stop(0.05, #666666),
    color-stop(0.07, #000000),
    color-stop(0.93, #000000),
    color-stop(0.95, #666666),
    color-stop(0.97, #000000)
  );
}
